<!-- Event Details Container - ADD EVENT VIEW-->

<div class="container" ng-animate=" ' animate' ">
	<div class="box-container events mt5">
		<form>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Campaign name</label>
		  </div>
		  <div class="col-xs-12">
			<select ng-model="event.campaign.id" ng-selected="{{event.campaign.id}}" ng-options="c.id as c.name for c in campaigns" class="form-control"></select>
		  	<!-- <span ng-show="event_error.campaign.id" ng-class="{error: event_error.campaign.id}" ng-model="event_error.campaign.id">{{event_error.campaign.join()}}</span> -->
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12 mt20">
		  	<label>Start</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="date" class="event_start_date" ng-model="event.start_date">
		  	<span ng-show="event_error.start_date" ng-class="{error: event_error.start_date}" ng-model="event_error.start_date">{{event_error.start_date.join()}}</span>
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="time" ng-model="event.start_time">
		  	<span ng-show="event_error.start_time" ng-class="{error: event_error.start_time}" ng-model="event_error.start_time">{{event_error.start_time.join()}}</span>
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12">
		  	<label>End</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="date" class="event_end_date" ng-model = "event.end_date">
		  	<span ng-show="event_error.end_date" ng-class="{error: event_error.end_date}" ng-model="event_error.end_date">{{event_error.end_date.join()}}</span>
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="time" ng-model="event.end_time">
		  	<span ng-show="event_error.end_time" ng-class="{error: event_error.end_time}" ng-model="event_error.end_time">{{event_error.end_time.join()}}</span>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12 mt20">
		  	<label>Place</label>
		  </div>
		  <div class="col-xs-12">
		  	<!-- <input type="text"> -->
			<select class="form-control arrow">
				<option value="{{event.place.id}}">{{event.place.name}}</option>
			</select>
		  	<!-- <span ng-show="event_error.place.id" ng-class="{error: event_error.place.id}" ng-model="event_error.place.id">{{event_error.place.join()}}</span> -->
		  </div>
		</div>
	</div>
	<div class="row footer">
	  <div class="col-xs-12">
		<input type="submit" value="Save" data-trigger-on-header='save' class="btn btn-danger" ng-click="updateEvent(event)">
	  </div>
	</div>
	</form>
</div>
