<!-- Event Details Container - ABOUT VIEW-->
<needs-permissions provider="eventAboutPermissionsService">
	<!-- DYNAMIC ALERT -->
	<div class="{{alert.style}}" alert-box content="{{alert.message}}">
		<!--<p ng-bind-html="alert.message"></p> -->
	</div>
	<div class="google-map">
 		<map zoom-control="false" center="{{[event.place.latitude,event.place.longitude]}}" map-type-control='false' street-view-control="false" pan-control="false" styles={{map_styles}}>
	  	<marker position="{{[event.place.latitude,event.place.longitude]}}" title="{{event.place.name||'venue'}}"></marker>
	  	<a class="fullscreen" ng-click="openMap()"></a>
	</div>
	<div class="container">
		<div class="box-container events eventDetails">
			<h5>{{event.campaign.name}}</h5>
			<div class="date-data">
				{{event.start_date}}<br>
				{{event.start_time}} - {{event.end_time}}
			</div>
			<div class="place-data">
				<a href="#" class="blue">{{event.place.name}}</a>
				<div class="address">{{event.place.formatted_address}}</div>
				<div class="state">{{event.place.state_name}}, {{event.place.state}}, {{event.place.zipcode}}</div>
			</div>
			<hr>
			<button id="edit-button" type="button" class="btn-default btn-sm edit special" ng-click="editEvent()"></button>
			<button id="deactivate-button" type="button" class="btn-default btn-sm deactivate special" ng-click="deleteEvent(event)"></button>
		</div>
	</div>
</needs-permissions>