<!-- NEW CONTACT -->

<div class="container contacts">
	<form novalidate>
		<div class="dividersBar big">NAMES</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						FIRST NAME 
					</div>
					<div class="col-xs-8">
					  	<input type="text" class="clean" ng-model="contact.first_name">
			  			<span ng-show="!angular.isUndefined(contact_error.first_name)" ng-class="{error: contact_error.first_name}" ng-model="contact_error.first_name">{{contact_error.first_name.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						LAST NAME
					</div>
					<div class="col-xs-8">
					  	<input type="text" class="clean" ng-model="contact.last_name">
					  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.last_name" ng-class="{error: contact_error.last_name}" ng-model="contact_error.last_name">{{contact_error.last_name.join()}}</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">TITLE</div>
		<div class="box-container edit-list np">	
			<ul>
				<li>
					<div class="col-xs-4">
						TITLE
					</div>
					<div class="col-xs-8">
					  	<input type="text" class="clean" ng-model="contact.title">
			  			<span ng-show="!angular.isUndefined(contact_error) && contact_error.title" ng-class="{error: contact_error.title}" ng-model="contact_error.title">{{contact_error.title.join()}}</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">CONTACTS</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						EMAIL
					</div>
					<div class="col-xs-8 txtAdjust">
					  	<input type="email" class="clean" ng-model="contact.email">
		        		<span ng-show="!angular.isUndefined(contact_error) && contact_error.email" ng-class="{error: contact_error.email}" ng-model="contact_error.email">{{contact_error.email.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						PHONE NUMBER
					</div>
					<div class="col-xs-8">
					  	<input type="number" class="clean" ng-model="contact.phone_number">
			  			<span ng-show="!angular.isUndefined(contact_error) && contact_error.phone_number" ng-class="{error: contact_error.phone_number}" ng-model="contact_error.phone_number">{{contact_error.phone_number.join()}}</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">ADDRESS</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						ADDRESS 1
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean" ng-model="contact.street1">
					  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.street1" ng-class="{error: contact_error.street1}" ng-model="contact_error.street1">{{contact_error.street1.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						ADDRESS 2
					</div>
					<div class="col-xs-8">
					  	<input type="text" class="clean" ng-model="contact.street2">
					  	<span ng-show="contact_error.street2" ng-class="{error: contact_error.street2}" ng-model="contact_error.street2">{{contact_error.street2.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						COUNTRY
					</div>
					<div class="col-xs-8 np">
						<select ng-model="contact.country" ng-selected="{{countryCode}}" ng-options="country.id as country.name for country in countries" ng-change="getStatesForCountry()" class="form-control arrow clean"></select>
						<span ng-show="!angular.isUndefined(contact_error) && contact_error.country" ng-class="{error: contact_error.country}" ng-model="contact_error.country">{{contact_error.country.join()}}</span>
					</div>				
				</li>
				<li>
					<div class="col-xs-4">
						CITY
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean" ng-model="contact.city">
					  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.city" ng-class="{error: contact_error.city}" ng-model="contact_error.city">{{contact_error.city.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						STATE
					</div>
					<div class="col-xs-8 np">
						<select ng-model="contact.state" ng-selected="{{contact.state}}" ng-options="state.id as state.name for state in states" class="form-control arrow clean"></select>
						<span ng-show="!angular.isUndefined(contact_error) && contact_error.state" ng-class="{error: contact_error.state}" ng-model="contact_error.state">{{contact_error.state.join()}}</span>
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						ZIP CODE
					</div>
					<div class="col-xs-8">
					  	<input type="number" class="clean" ng-model="contact.zip_code">
			  			<span ng-show="!angular.isUndefined(contact_error) && contact_error.zip_code" ng-class="{error: contact_error.zip_code}" ng-model="contact_error.zip_code">{{contact_error.zip_code.join()}}</span>
					</div>
				</li>
			</ul>
		</div>
    <div class="row">
      <div class="col-xs-12">
        <input type="submit" value="save" data-trigger-on-header='save' class="btn btn-danger" ng-click="createContact(contact)">
      </div>
    </div>
	</form>
</div>

