<!-- Event Details Container - EVENT VIEW - ABOUT MAP-->

<div class="container" ng-show="event.campaign.name || event.place.formatted_address || (event.place.latitude && event.place.longitude)">
	<div class="box-container event-description" ng-show="event.campaign.name || event.place.formatted_address || (event.place.latitude && event.place.longitude)">
		<h5 ng-show="event.campaign.name">{{event.campaign.name}}</h5>
		<p ng-show="event.place.formatted_address">{{event.place.formatted_address}}</p>
		<a href="http://maps.google.com/maps?q={{[event.place.latitude,event.place.longitude].join()}}" class="blue" target="_blank" ng-show="(event.place.latitude && event.place.longitude)">Get directions</a>
	</div>
</div>
  <!--FIXME! STYLES FOR THIS VIEW NEEDS TO BE FIXED-->
  <div class="google-map fullscreen" ng-show="event.place.name || (event.place.latitude && event.place.longitude)">
    <map zoom-control="true" center="{{[event.place.latitude,event.place.longitude]}}" map-type-control='false' street-view-control="false" pan-control="false" styles={{map_styles}}>
    <marker position="{{[event.place.latitude,event.place.longitude]}}" title="{{event.place.name||'venue'}}"></marker>
  </div>
</div>
