
<!-- Notifications Container -->

<div class="container">
	<div class="box-container notifications np">
		<ul>
			<li ng-repeat="notification in notifications">
				<a href="javascript:;">
					<div class="row {{notification.colorClass}}" ng-click="notification.action()">
						<div class="col-xs-11 {{notification.type}}Icon">
							<p>{{notification.message}}</p>
						</div>
						<div class="noButton nextIcon"></div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>


<!-- Loading -->
<div class="loading" ng-show="loading">
</div>

<!-- No notifications  -->
<div class="empty notifications" ng-show="!showNotifications && !loading">
	<span class="no-notifications"></span>
	<h4>No Notifications</h4>
	<h6>You do not have any notifications</h6>
</div>
