
<!-- Dashboard Details Container -->
<div class="container">
	<div class="box-container dashboard details">
		<div class="reference clearfix">
			<div class="scheduled">SCHEDULED</div>
			<div class="executed">EXECUTED</div>
		</div>

		<!-- Columna 1 -->
		<div class="row remaining-events">
			<div class="col-xs-10">
			    <p class="txtAdjust">Boston</p>
			    <div class="chart-bar">
			    	<div class="bar-indicator executed-indicator" style="left: 62%"></div>
			    	<div class="bar-indicator scheduled-indicator" style="left: 85%"></div>

				    <div class="progress">
		  				<div class="bar bar-executed" style="width: 62%;"></div>
		  				<div class="bar bar-scheduled" style="width: 23%;"></div>
		  				<div class="bar bar-remaining" style="width: 15%;"></div>
		  			</div>

		  			<div class="executed-label" style="margin-left: 62%"><div><b>1050</b></div></div>
		  			<div class="scheduled-label" style="float: right; margin-right: 15%"><div><b>34</b></div></div>
		  		</div>
		  	</div>
		  	<div class="col-xs-2">
		  		<div class="remaining-label">
		  			<b>2284</b>
					<span class="kpi-name">REMAINING<br/>EVENTS</span>
				</div>
	        </div>
	    </div>

		<!-- Columna 2 -->
		<div class="row remaining-events">
			<div class="col-xs-10">
			    <p class="txtAdjust">Detroit</p>
			    <div class="chart-bar">
			    	<div class="bar-indicator executed-indicator" style="left: 62%"></div>
			    	<div class="bar-indicator scheduled-indicator" style="left: 85%"></div>

				    <div class="progress">
		  				<div class="bar bar-executed" style="width: 62%;"></div>
		  				<div class="bar bar-scheduled" style="width: 23%;"></div>
		  				<div class="bar bar-remaining" style="width: 15%;"></div>
		  			</div>

		  			<div class="executed-label" style="margin-left: 62%"><div><b>240</b></div></div>
		  			<div class="scheduled-label" style="float: right; margin-right: 15%"><div><b>34</b></div></div>
		  		</div>
		  	</div>
		  	<div class="col-xs-2">
		  		<div class="remaining-label">
		  			<b>2284</b>
					<span class="kpi-name">REMAINING<br/>EVENTS</span>
				</div>
	        </div>
	    </div>
		
		<!-- Columna 3 -->
		<div class="row remaining-events">
			<div class="col-xs-10">
			    <p class="txtAdjust">Chicago</p>
			    <div class="chart-bar">
			    	<div class="bar-indicator executed-indicator" style="left: 62%"></div>
			    	<div class="bar-indicator scheduled-indicator" style="left: 85%"></div>

				    <div class="progress">
		  				<div class="bar bar-executed" style="width: 62%;"></div>
		  				<div class="bar bar-scheduled" style="width: 23%;"></div>
		  				<div class="bar bar-remaining" style="width: 15%;"></div>
		  			</div>

		  			<div class="executed-label" style="margin-left: 62%"><div><b>80</b></div></div>
		  			<div class="scheduled-label" style="float: right; margin-right: 15%"><div><b>34</b></div></div>
		  		</div>
		  	</div>
		  	<div class="col-xs-2">
		  		<div class="remaining-label">
		  			<b>2284</b>
					<span class="kpi-name">REMAINING<br/>EVENTS</span>
				</div>
	        </div>
		</div>
	</div>
</div>
