
<!-- Dashboard Details Container -->
<div class="container">
	<div class="box-container dashboard details">
		<div class="reference clearfix">
			<div class="scheduled">SCHEDULED</div>
			<div class="executed">EXECUTED</div>
		</div>

		<!-- Columna 1 -->
		<div ng-repeat="item in dashboardDetailItems">
			<div class="row remaining-events">
				<div class="col-xs-10">
				    <p class="txtAdjust">{{item.name}}</p>
				    <div class="chart-bar">
				    	<div class="bar-indicator executed-indicator" style="left: {{item.executed_percentage}}%"></div>
				    	<div class="bar-indicator scheduled-indicator" style="left: {{item.executed_percentage + item.scheduled_percentage}}%"></div>

					    <div class="progress">
			  				<div class="bar bar-executed" style="width: {{item.executed_percentage}}%;"></div>
			  				<div class="bar bar-scheduled" style="width: {{item.scheduled_percentage}}%;"></div>
			  				<div class="bar bar-remaining" style="width: {{item.remaining_percentage}}%;"></div>
			  			</div>

			  			<div class="executed-label" style="margin-left: {{item.executed_percentage}}%">
			  				<div><b>{{item.executed | number}}</b></div>
			  			</div>
			  			<div class="scheduled-label" style="float: right; margin-right: {{item.remaining_percentage}}%">
			  				<div><b>{{item.scheduled | number}}</b></div>
			  			</div>
			  		</div>
			  	</div>
			  	<div class="col-xs-2">
			  		<div class="remaining-label">
			  			<b>{{item.remaining | number}}</b>
						<span class="kpi-name">REMAINING<br/>{{item.kpi}}</span>
					</div>
		        </div>
		    </div>
		</div>

	</div>
</div>

<!-- Loading -->
<div class="loading" ng-show="loading">
	<h4>Loading</h4>
</div>

<!-- No campaigns - DASHBOARD -->
<div class="empty" ng-show="!showDashboardDetails && !loading">
	<span class="no-campaigns"></span>
	<h4>No Campaigns</h4>
	<h6>You do not have any campaigns</h6>
</div>
