
<!-- Dashboard Container -->
<div class="container">
	<div class="box-container">
    <h5>Gin BAs FY14</h5>
    <div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
		    <span class="sr-only">40% Complete (success)</span>
		  </div>
    </div>
	</div>
	<div class="box-container">
    <h5>Jameson Locals FY14</h5>
    <div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
				<span class="sr-only">10% Complete (success)</span>
		  </div>
    </div>
	</div>
	<div class="box-container">
    <h5>Jameson CE FY13</h5>
    <div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				<span class="sr-only">60% Complete (success)</span>
		  </div>
    </div>
	</div>
	<div class="box-container">
    <h5>Gin BAs FY14</h5>
    <div class="progress">
		  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				<span class="sr-only">80% Complete (success)</span>
		  </div>
    </div>
	</div>
</div>
