
<!-- Dashboard Container -->
<div class="container">
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Gin BAs FY14</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 30%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			  </div>
	    </div>
	  </div>
	 	<button class="noButton nextIcon pull-right"></button>
	</div>
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Jameson Locals FY14</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 65%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
			  </div>
	    </div>
	  </div>
	  <button class="noButton nextIcon pull-right"></button>
	</div>
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Jameson CE FY13</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 75%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
			  </div>
	    </div>
	  </div>
	  <button class="noButton nextIcon pull-right"></button>
	</div>
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Gin BAs FY14</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 45%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
			  </div>
	    </div>
	  </div>
	  <button class="noButton nextIcon pull-right"></button>
	</div>
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Mama Walker's FY14</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 65%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
			  </div>
	    </div>
	  </div>
	  <button class="noButton nextIcon pull-right"></button>
	</div>
	<div class="box-container dashboard">
    <h5 class="txtAdjust">Royal Salute FY14</h5>
    <div class="chart-bar">
	    <div class="today-line-indicator" style="left: 25%"></div>
	    <div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
			  </div>
	    </div>
	  </div>
	  <button class="noButton nextIcon pull-right"></button>
	</div>
</div>
