
<!-- Dashboard Container -->
<div class="container">
	<div class="row">
	  <div class="col-xs-12 box-container">
	    <h5>Gin BAs FY14</h5>
	    <div class="progress">
	    	<div class="bar"></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12 box-container">
	    <h5>Jameson Locals FY14</h5>
	    <div class="progress">
	    	<div class="bar"></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12 box-container">
	    <h5>Jameson CE FY13</h5>
	    <div class="progress">
	    	<div class="bar"></div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12 box-container">
	    <h5>Mama Walker’s FY14</h5>
	    <div class="progress">
	    	<div class="bar"></div>
	    </div>
	  </div>
	</div>
</div>
