<!-- <div class="container"> -->
<div snap-content>
  <div class="row">
    <div class="col-xs-12">
      <a snap-toggle class="btn" href="#/navigationbar"><i class="glyphicon glyphicon-align-justify"></i></a>
      <!-- <button snap-toggle="">Toggle</button> -->
      <p>Dashboard</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Dashboard</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Dashboard</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Dashboard</p>
    </div>
  </div>
</div>
