
<!-- PROFILE - EDIT PROFILE -->

<div class="container">
	<form novalidate>
		<div class="dividersBar big">NAME</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						FIRST NAME
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						LAST NAME
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">CONTACT INFO</div>
		<div class="box-container edit-list np">	
			<ul>
				<li>
					<div class="col-xs-4">
						EMAIL
					</div>
					<div class="col-xs-8">
						<input type="email" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						PHONE NUMBER
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">SECURITY</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						PASSWORD
					</div>
					<div class="col-xs-8">
						<input type="password" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						PASSWORD CONFIRMATION
					</div>
					<div class="col-xs-8">
						<input type="password" class="clean">
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">ADDRESS</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-4">
						ADDRESS 1
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						ADDRESS 2
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						COUNTRY
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>				
				</li>
				<li>
					<div class="col-xs-4">
						CITY
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						STATE
					</div>
					<div class="col-xs-8">
						<input type="text" class="clean">
					</div>
				</li>
				<li>
					<div class="col-xs-4">
						ZIP CODE
					</div>
					<div class="col-xs-8">
						<input type="number" class="clean">
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">TIME ZONE</div>
		<div class="box-container edit-list np">
			<ul>
				<li>
					<div class="col-xs-12">
						<select class="form-control clean">
							<option>(GMT-8:00) Pacific Time (US & Canada)</option>
						</select>
					</div>
				</li>
			</ul>
		</div>	
	</form>
</div>
