
<div class="statusBar" ng-show="!UserInterface.searching">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 filter" ng-repeat="filter in filters" ng-class="{active: event_status==filter.id}">
				<a ng-click="filterStatus('{{filter.id}}')">
					<div class="number">{{filter.count | totalCount}}</div>
					<p>{{filter.label}}</p>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Events Container -->
<div class="container" ng-repeat="event in eventsItems | orderBy:['start_date','start_time'] | filter:event_status" ng-show="!UserInterface.searching">
	<!-- <div class="dividersBar">TODAY</div> -->
	<div class="dividersBar">{{event.start_date | date:'EEEE, MMM d'}}</div>
	<div class="box-container np" ng-show="!UserInterface.searching">
    <ul class="events list swipe-list" go-to>
      <li ng-repeat="event1 in eventsItems | orderBy:['start_date','start_time'] | filter:{start_date:event.start_date, event_status:event.event_status}" ng-show="!UserInterface.searching" ng-class="{lastItem: $last}">
        <div class="row action-buttons dual-button" ng-class="{late: event_status=='Late', due: event_status=='Due', submitted: event_status=='Submitted', rejected: event_status=='Rejected'}" ng-swipe-left="showButtons = true" ng-swipe-right="showButtons = false" ng-show="showButtons" ng-animate="'animate'" ng-click="goTo('#/home/events/{{event1.id}}/about')">
          <!--approved: event_status=='Approved'-->
          <div class="row-content">
            <div class="col-xs-3 eventHour">
              <p class="xs">{{event1.start_time}}</p>
              <p class="xs">{{event1.end_time}}</p>
            </div>
            <div class="col-xs-9 eventDescription">
              <h5 class="txtAdjust">{{event1.campaign.name}}</h5>
              <p class="medium txtAdjust second">{{event1.place.name}}, {{event1.place.city}}, {{event1.place.state}}</p>
            </div>
          </div>
          <div class="editpanel actions-panel">
            <a href="#" class="edit" stop-event='click'></a>
            <a href="#" class="deactivate" stop-event='click' ng-click="goTo('#/home')"></a>
          </div>
        </div>
      </li>
		</ul>
	</div>
</div>


<!-- GENERAL STYLES FOR THE EMPTY STATES -->

<!-- No events -->

<div class="empty">
	<span class="no-events"></span>
	<h4>No Events</h4>
	<h6>You have no events scheduled</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to <br>schedule an event.</h6>
</div>

<!-- No campaigns - DASHBOARD -->

<div class="empty">
	<span class="no-campaigns"></span>
	<h4>No Campaigns</h4>
	<h6>You do not have any campaigns</h6>
</div>

<!-- No Tasks - Events -->

<div class="empty">
	<span class="no-tasks"></span>
	<h4>No Tasks</h4>
	<h6>There aren't any tasks assigned to<br> you or your team</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to <br>add a task.</h6>
</div>

<!-- No Tasks -->

<div class="empty">
	<span class="no-tasks"></span>
	<h4>No Tasks</h4>
	<h6>There aren't any tasks assigned to<br> you or your team</h6>
	<h6><b>Tip:</b> You can create a new task from the<br>Tasks section on any Events Details screen.</h6>
</div>

<!-- No Event team -->

<div class="empty">
	<span class="no-event-team"></span>
	<h4>No Event team</h4>
	<h6>There isn't anyone on the event team</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add<br>users or teams to the event.</h6>
</div>

<!-- No Contacts -->

<div class="empty">
	<span class="no-contacts"></span>
	<h4>No Contacts</h4>
	<h6>There aren't any contacts for the event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add a<br>contact to the event.</h6>
</div>

<!-- No Photos -->

<div class="empty">
	<span class="no-photo"></span>
	<h4>No Photos</h4>
	<h6>There aren't any photos that have<br>been uploaded to this event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to<br>upload photos.</h6>
</div>

<!-- No Expenses -->

<div class="empty">
	<span class="no-expenses"></span>
	<h4>No Expenses</h4>
	<h6>There aren't any expenses for the event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add an<br>expense.</h6>
</div>

<!-- No Comments -->

<div class="empty">
	<span class="no-comments"></span>
	<h4>No Comments</h4>
	<h6>There aren't any comments for the event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add a<br>comment.</h6>
</div>

<!-- No Surveys -->

<div class="empty">
	<span class="no-surveys"></span>
	<h4>No Surveys</h4>
	<h6>There aren't any surveys for the event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to<br>conduct a new survey.</h6>
</div>

<!-- No Venues -->

<div class="empty">
	<span class="no-venues"></span>
	<h4>No Venues</h4>
	<h6>No venues have been added</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add a<br>venue.</h6>
</div>

<!-- No Photos - Venues -->

<div class="empty">
	<span class="no-photo"></span>
	<h4>No Photos</h4>
	<h6>There aren't any photos that have<br>been uploaded to this venue</h6>
	<h6><b>Tip:</b> You can upload photos from the <br> Photos section on any Event Details</h6>
</div>

<!-- No Comments - Venues -->

<div class="empty">
	<span class="no-comments"></span>
	<h4>No Comments</h4>
	<h6>There aren't any comments for this venue</h6>
	<h6><b>Tip:</b> You can create a comment from the <br> Comments section on any Event Details</h6>
</div>

<!-- No notifications -->

<div class="empty">
	<span class="no-notifications"></span>
	<h4>No Notifications</h4>
	<h6>You do not have any notifications</h6>
</div>

