
<!-- SURVEYS PAGE -->

<div class="container">
	<div class="box-container np events surveys">
		<ul>
			<li>
				<div class="survey-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="survey-data">
					<h5 class="txtAdjust">25 – 34 year old, Black, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="survey-data">
					<h5 class="txtAdjust">34 – 44 year old, Hispanic/Latino, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="survey-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>