<!-- Events Container - EDIT CONTACT -->

<div class="container">
	<div class="dividersBar">NAMES</div>
	<div class="box-container events editEvent np">
		<ul>
			<li>
				<div class="col-xs-4">
					FIRST NAME
				</div>
				<div class="col-xs-8">
					MARÍA SUSANA
				</div>
			</li>
			<li>
				<div class="col-xs-4">
					LAST NAME
				</div>
				<div class="col-xs-4">
					THOMPSON
				</div>
			</li>
		</ul>
	</div>
	<div class="dividersBar">TITLE</div>
	<div class="box-container np">	
		HOLA
	</div>
	<div class="dividersBar">CONTACTS</div>
	<div class="box-container np">
		<ul>
			<li>EMAIL</li>
			<li>PHONE NUMBER</li>
		</ul>
	</div>
	<div class="dividersBar">ADDRESS</div>
	<div class="box-container np">
		<ul>
			<li>ADDRESS 1</li>
			<li>ADDRESS 2</li>
			<li>COUNTRY</li>
			<li>CITY</li>
			<li>STATE</li>
			<li>ZIP CODE</li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="box-container events contactDetails">
		<h5>Susan Jones</h5>
		<p class="small">Bar Manager</p>
		<div class="mail-data">
			<a class="blue underline" href="#">sjones@domain.com</a>
		</div>
		<div class="phone-data">
			<a class="blue underline" href="#">+1 415 981 2854</a>
		</div>
		<div class="place-data">
			431 Bush Street, floor 2 <br>
			San Francisco, CA, 94321 <br>
			United States
		</div>
	</div>
</div>
