<!-- THIS IS THE ADD VIEW OF TEAMS -->

<div class="contacts_search">
	<div class="container">
		<input type="text" class="search" placeholder="Search">
	</div>
</div>

<div class="container"> 
	<div class="box-container np">
		<ul class="eventsPeople add">
			<li ng-repeat="team in teams">
				<div class="row">
					<div class="col-xs-7">
						<h5 class="txtAdjust">{{team.name}}</h5>
						<p class="small">{{team.description}}</p>
					</div>
					<button type="button" class="btn-default btn-sm add pull-right" ng-click="assignTeam({{team.id}}, '{{team.type}}')">Add</button>
				</div>
			</li>
		</ul>
	</div>
</div>
