<div class="statusBar tasks" ng-show="!UserInterface.searching">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 filter" ng-repeat="status in eventTaskFilters" ng-class="{active: task_status==status.id}"> 
				<a ng-click="filterTask('{{status.id}}')">
					<div class="number">{{status.count}}</div>
					<p>{{status.label}}</p>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Events Container -->
<div class="container" ng-repeat="task in eventTaskItems | filter:task_status" ng-show="!UserInterface.searching">
	<!-- <div class="dividersBar">TODAY</div> -->
	<div class="dividersBar">{{task.date}}</div>
	<div class="box-container np">
		<ul class="events list tasks">
			<li>
				<a href="#/home/events/{{eventId}}/tasks/{{task.id}}/details">
					<div class="row" ng-class="{late: task_status=='Late', Unassigned: task_status=='Unassigned', Incomplete: task_status=='Incomplete'}"> 
						<div class="col-xs-12">
							<div class="col-xs-1">
								<input type="checkbox" name="task">
							</div>
							<div class="col-xs-11">
					    	<h5 class="txtAdjust">{{task.Task}}</h5>
								<p class="medium txtAdjust second">{{task.assigned}}</p>
							</div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#/home/events/{{eventId}}/tasks/{{task.id}}/details">
					<div class="row" ng-class="{late: task_status=='Late', Unassigned: task_status=='Unassigned', Incomplete: task_status=='Incomplete'}"> 
					<div class="col-xs-12">
							<div class="col-xs-1">
								<input type="checkbox" name="task">
							</div>
							<div class="col-xs-11">
					    	<h5 class="txtAdjust">{{task.Task}}</h5>
								<p class="medium txtAdjust second">{{task.assigned}}</p>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
