
<!-- EXPENSES PAGE -->

<div class="container">
	<div class="box-container np events expenses">
		<ul>
			<li>
				<div class="row">
					<div class="col-xs-9">
						<img src="assets/images/test.jpeg">
						<p><b>T-shirt order</b></p>
					</div>
					<div class="expense-price col-xs-3">
						<p class="small second">Today</p>
						<div class="blue">$459</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-9">
						<img src="assets/images/test.jpeg">
						<p><b>Bar Tab + Tip</b></p>
					</div>
					<div class="expense-price col-xs-3">
						<p class="small second">Today</p>
						<div class="blue">$459</div>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-9">
						<img src="assets/images/test.jpeg">
						<p><b>Mixers for the event</b></p>
					</div>
					<div class="expense-price col-xs-3">
						<p class="small second">Today</p>
						<div class="blue">$459</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="box-container events expenses">
		<div class="row margin-expense">
			<div class="col-xs-8">
				TOTAL
			</div>
			<div class="col-xs-4 blue total-price">
				$1.535
			</div>
		</div>
	</div>
</div>
