<!-- Events Container - CONTACT VIEW -->

<div class="container">
	<div class="box-container events contactDetails">
		<h5>{{contact.full_name}}</h5>
		<p class="small">{{contact.title}}</p>
		<div class="mail-data">
			<a class="blue underline" href="#">{{contact.email}}</a>
		</div>
		<div class="phone-data">
			<a class="blue underline" href="#">{{contact.phone_number}}</a>
		</div>
		<div class="place-data">
			{{contact.street_address}}<br>
			{{contact.city}}, {{contact.state}}, {{contact.zip_code}}<br>
			{{contact.country}}
		</div>
	</div>
</div>
