<!-- TASKS DETAILS PAGE -->

<div class="container">
	<div class="box-container tasks">
		<h5>Pickup t-shirts from storage unit</h5>
		<div class="date-data late">Today</div>
		<div class="user-data">Chris Jasckot</div>
		<div class="edit-area">
			<button class="btn-default btn-sm approved"></button>
			<!-- <button class="btn-default btn-sm edit"></button> -->
			<a class="btn-default btn-sm edit" href="#/home/events/{{eventId}}/tasks/{{taskId}}/details/edit"></a>
			<button class="btn-default btn-sm deactivate"></button>
		</div>
	</div>
	<div class="dividersBar big">COMMENTS</div>
	<div class="box-container np comments">
		<ul>
			<li>
				<div class="margin-data">
					<p class="comment-user">Craig Williams</p>
					<p class="comment-date small">10 mins ago</p>
					<p class="clearfix medium">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page demonstraverunt lectores legere me lius quod</p>
					<a href="#" class="blue full-comment">Show full comment</a>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<p class="comment-user">Jonathan Prince</p>
					<p class="comment-date small">Yesterday</p>
					<p class="clearfix medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- WRITE A NEW COMMENT - FIXED BAR -->

<div class="new_comment navbar-fixed-bottom hidden">
	<div class="container">
	  <div class="row">
	  	<div class="col-xs-12">
	  		<div class="col-xs-9">
	  			<input type="text" placeholder="Write a comment" class="search">
	  		</div>
	  		<div class="col-xs-3">
	  			<button type="button" class="btn btn-primary pull-right">Post</button>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>
