<!-- EDIT TASKS PAGE -->

<div class="container">
	<div class="dividersBar big">TITLE</div>
	<div class="box-container edit-list tasks">	
		<div class="col-xs-12 ">
			<h5 class="txtAdjust title">Confirm the invitations order</h5>
		</div>
	</div>
	<div class="dividersBar big">ASSIGNED TO</div>
	<div class="box-container edit-list tasks np">
		<ul>
			<li>
				<div class="col-xs-12">
					<h5 class="user-data">George Tan</h5>
				</div>
			</li>
		</ul>
	</div>
	<div class="dividersBar big">DUE DATE</div>
	<div class="box-container edit-list tasks">
		<div class="col-xs-12">
			<h5 class="date-data">WED Nov 9</h5>
		</div>
	</div>
</div>
