<!-- ESTA ES LA VISTA DE ADD -->

<div class="container">
	<div class="box-container np">
		<ul class="eventsPeople">
			<li>
				<div class="row">
					<div class="col-xs-7">
						<h5 class="txtAdjust">Amber Smith Amber Smith Amber Smith</h5>
						<p class="small">Bar Manager</p>
					</div>
					<a class="btn-default btn-sm add pull-right" href="#">Add</a>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-7">
						<h5 class="txtAdjust">Amy Jones</h5>
						<p class="small">Bar Manager</p>
					</div>
					<a class="btn-default btn-sm add pull-right" href="#">Add</a>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-7">
						<h5 class="txtAdjust">Amber Smith Amber Smith Amber Smith</h5>
						<p class="small">Bar Manager</p>
					</div>
					<a class="btn-default btn-sm add pull-right" href="#">Add</a>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-7">
						<h5 class="txtAdjust">Amy Jones</h5>
						<p class="small">Restaurant Manager</p>
					</div>
					<a class="btn-default btn-sm add pull-right" href="#">Add</a>
				</div>
			</li>
		</ul>
	</div>
</div>
