<!-- Events - ADD NEW COMMENT -->

<div class="container">
	<form>
  	<div class="box-container">
  		<textarea rows="5" cols="30" placeholder="Write your comment" ng-model="comment.content"></textarea><br />
  		</textarea>
      <span ng-show="comment_error.content" ng-class="{error: comment_error.content}" ng-model="comment_error.content">{{comment_error.content.join()}}</span>        
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="submit" value="save" class="hide" data-trigger-on-header='save' class="btn btn-danger" ng-click="createComment(comment)">
      </div>
    </div>
  </form>
</div>
