
<!-- Here should go the subnav partial -->

<!-- Event Details Container - ABOUT VIEW-->
<div class="map">
	Here goes the map
	<!-- STYLE FOR THE ABOUT VIEW - MAP FULLSCREEN 
		<div class="box-container">
			<h1>Fox and Hound Pub & Grill 505</h1>
			<p>University Drive, College Station</p>
			<a href="#">Get directions</a>
		</div>
	-->
</div>
<div class="container">
	<!-- ALERT FOR CONTAINER STATUS - SUBMITTED 
		<div class="box-container submitted">
			<p>Your post event report has been submitted for approval. Please review and either <a href="#">approve</a> or <a href="#">reject</a>.
		</div>
	-->
	<div class="box-container">
		<h1>Jameson Locals FY14</h1>
		<div class="date-data">
			WED Oct 16 <br>
			11:00 AM - 12:00 AM
		</div>
		<div class="place-data">
			<a href="#">Williams Tavern</a><br>
			423 East 17th Avenue<br>
			Denver, CO, 80203
		</div>
	</div>
</div>
