
<!-- SURVEYS PAGE -->

<div class="container">
	<div class="box-container np events surveys">
		<ul>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">25 – 34 year old, Black, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">34 – 44 year old, Hispanic/Latino, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- NEW SURVEY -->

<div class="container">
	<div class="box-container">
		<h5>Demographics</h5>
		<p>Gender</p>
		<label class="radio">
			<div class="radio">
				<span><input type="radio" name="gender" value="female" class="radio_buttons">Female
				</span>
			</div>
		</label>
		<ul>
			<li><input type="checkbox" name="gender" value="female" class="checker">Female</li>
			<li><input type="checkbox" name="gender" value="male">Male</li>
		</ul>
		<h5>Competitive awarenes & Usage</h5>
		<h5>Conversion likehood</h5>
	</div>
</div>