
<!-- EXPENSES PAGE -->

<div class="container">
	<div class="box-container np events expenses">
		<ul>
			<li>
				<div class="row">
					<img src=".../images/flickr.png">
					<p>T-shirt</p>
				</div>
			</li>
			<li>
				<div class="row">
					<img src=".../images/flickr.png">
					<p>Bar Tab + Tip</p>
				</div>
			</li>
			<li>
				<div class="row">
					<img src=".../images/flickr.png">
					<p>Mixers for the event</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="box-container events expenses">
		<div class="row margin-data">
			<div class="col-xs-8">
				TOTAL
			</div>
			<div class="col-xs-4 blue price">
				$1.535
			</div>
		</div>
	</div>
</div>
