<!-- NEW CONTACT -->

<div class="container">
	<form novalidate>
		<div class="box-container events mt5">
			<div class="row">
			  <div class="col-xs-12">
			  	<label class="medium">First name</label>
			  	<input type="text" ng-model="contact.first_name">
			  	<span ng-show="!angular.isUndefined(contact_error.first_name)" ng-class="{error: contact_error.first_name}" ng-model="contact_error.first_name">{{contact_error.first_name.join()}}</span>
			  	<label class="medium">Last name</label>
			  	<input type="text" ng-model="contact.last_name">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.last_name" ng-class="{error: contact_error.last_name}" ng-model="contact_error.last_name">{{contact_error.last_name.join()}}</span>
			  	<label class="medium">Title</label>
			  	<input type="text" ng-model="contact.title">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.title" ng-class="{error: contact_error.title}" ng-model="contact_error.title">{{contact_error.title.join()}}</span>
			  </div>

			  <div class="col-xs-12 mt25">
			  	<label class="medium">Email</label>
			  	<input type="email" ng-model="contact.email">
		        <span ng-show="!angular.isUndefined(contact_error) && contact_error.email" ng-class="{error: contact_error.email}" ng-model="contact_error.email">{{contact_error.email.join()}}</span>
			  	<label class="medium">Phone number</label>
			  	<input type="number" ng-model="contact.phone_number">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.phone_number" ng-class="{error: contact_error.phone_number}" ng-model="contact_error.phone_number">{{contact_error.phone_number.join()}}</span>
  			  </div>

			  <div class="col-xs-12 mt25">
			  	<label class="medium">Address</label>
			  	<input type="text" ng-model="contact.street1">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.street1" ng-class="{error: contact_error.street1}" ng-model="contact_error.street1">{{contact_error.street1.join()}}</span>
			  	<!-- <input type="text"> -->
			  	<input type="text" ng-model="contact.street2">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.street2" ng-class="{error: contact_error.street2}" ng-model="contact_error.street2">{{contact_error.street2.join()}}</span>
			  	<label class="medium">Country</label>
                <select ng-model="contact.country" ng-selected="{{countryCode}}" ng-options="country.id as country.name for country in countries" ng-change="getStatesForCountry()" class="form-control arrow"></select>
				<span ng-show="!angular.isUndefined(contact_error) && contact_error.country" ng-class="{error: contact_error.country}" ng-model="contact_error.country">{{contact_error.country.join()}}</span>
			  	<label class="medium">City</label>
			  	<input type="text" ng-model="contact.city">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.city" ng-class="{error: contact_error.city}" ng-model="contact_error.city">{{contact_error.city.join()}}</span>
			  	<label class="medium">State</label>
              	<select ng-model="contact.state" ng-selected="{{contact.state}}" ng-options="state.id as state.name for state in states" class="form-control arrow"></select>
				<span ng-show="!angular.isUndefined(contact_error) && contact_error.state" ng-class="{error: contact_error.state}" ng-model="contact_error.state">{{contact_error.state.join()}}</span>
			  	<label class="medium">Zip code</label>
			  	<input type="number" ng-model="contact.zip_code">
			  	<span ng-show="!angular.isUndefined(contact_error) && contact_error.zip_code" ng-class="{error: contact_error.zip_code}" ng-model="contact_error.zip_code">{{contact_error.zip_code.join()}}</span>
			  </div>
			</div>
		</div>
	    <div class="row">
	      <div class="col-xs-12">
	        <input type="submit" value="save" class="btn btn-danger" ng-click="createContact(contact)">
	      </div>
	    </div>
	</form>
</div>
