
<!-- SURVEYS PAGE -->

<div class="container">
	<div class="box-container np events surveys">
		<ul>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">25 – 34 year old, Black, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">34 – 44 year old, Hispanic/Latino, Female</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<h5 class="txtAdjust">18 - 24 year old, Asian, Male</h5>
					<p class="small">
						<b>Completed:</b> Today, 11:10 AM
						<br>
						<b>Modified:</b> 2 mins ago
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- NEW SURVEY -->

<div class="container">
	<div class="box-container">
		<h5>Demographics</h5>
		<p>Gender</p>


		<div class="radio clearfix">  
	    <input id="male" type="radio" name="gender" value="male">  
	    <label for="male">Male</label>  
		</div>  
		<div class="radio clearfix">
			<input id="female" type="radio" name="gender" value="female">  
	    <label for="female">Female</label> 
		</div> 


		<h5>Competitive awarenes & Usage</h5>
		<p class="medium">For each of the following brands, please let us know if you have purchased the product in the last 12 montsh, are aware of the product, or are unaware of the product.</p>
		<p class="medium">For each brand you have used, approximately how much do you spend each month?</p>
		<h5>Conversion likehood</h5>
		<p class="medium">For each of the following brands, please let us know how likely you are to purchase the brand in the next 12 months.</p>
	</div>
</div>