<div class="searchBar">
	<div class="container">
		<input type="text" placeholder="Search">
	</div>
</div>

<div class="statusBar">
	<div class="container">
		<div class="row">
			<div class="col-xs-3"> 
				<a href="#">
					<div class="number">7</div>
					<p>LATE</p>
				</a>
			</div>
			<div class="col-xs-3"> 
				<div class="number">1</div>
				<p>REJECTED</p>
			</div>
			<div class="col-xs-3"> 
				<div class="number">5</div>
				<p>DUE</p>
			</div>
			<div class="col-xs-3"> 
				<a href="#">
					<div class="number">12</div>
					<p>SUBMITTED</p>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Events Container -->
<div class="container" ng-repeat="event in eventsItems">
	<div class="dividersBar">TODAY</div>
	<div class="box-container np">
		<ul class="events">
			<li>
				<a href="#/home/events/{{event.id}}">
					<div class="row late">
						<div class="col-xs-3 eventHour">
							<p class="small">8:00 AM</p>
							<p class="small">9:00 AM</p>
						</div>
						<div class="col-xs-9">
							<div class="col-xs-5 eventPlace">
						    <h5 class="txtAdjust">Jameson CE FY13</h5>
								<p class="medium txtAdjust">Bar None, San Francisco, CA</p>
							</div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#/home/events/{{event.id}}">
					<div class="row late">
						<div class="col-xs-3 eventHour">
							<p class="small">8:00 AM</p>
							<p class="small">9:00 AM</p>
						</div>
						<div class="col-xs-9">
							<div class="col-xs-5 eventPlace">
						    <h5 class="txtAdjust">Jameson CE FY13</h5>
								<p class="medium txtAdjust">Bar None, San Francisco, CA</p>
							</div>
							<div class="col-xs-5 editpanel">
								<a href="#" class="edit pull-left"></a>
								<a href="#" class="deactivate pull-right"></a>
							</div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#/home/events/{{event.id}}">
					<div class="row late">
						<div class="col-xs-3 eventHour">
							<p class="small">8:00 AM</p>
							<p class="small">9:00 AM</p>
						</div>
						<div class="col-xs-9">
							<div class="col-xs-5 eventPlace">
						    <h5 class="txtAdjust">Jameson CE FY13</h5>
								<p class="medium txtAdjust">Bar None, San Francisco, CA</p>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="separated" ui-view></div>
