
<!-- SUBNAV -->

<div class="subnav" ng-show="UserInterface.showEventSubNav">
	<ul class="scrollplane">
		<li ng-class="{active: UserInterface.eventSubNav=='about'}"><a href="#/home/events/{{eventId}}/about">ABOUT</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='people'}"><a href="#/home/events/{{eventId}}/people">PEOPLE</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='tasks'}"><a href="#/home/events/{{eventId}}/tasks">TASKS</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='data'}"><a href="#/home/events/{{eventId}}/data">DATA</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='photos'}"><a href="#/home/events/{{eventId}}/photos">PHOTOS</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='comments'}"><a href="#/home/events/{{eventId}}/comments">COMMENTS</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='expenses'}"><a href="#/home/events/{{eventId}}/expenses">EXPENSES</a></li>
		<li ng-class="{active: UserInterface.eventSubNav=='surveys'}"><a href="#/home/events/{{eventId}}/surveys">SURVEYS</a></li>
	</ul>
</div>

<!-- Event Details Partials -->

<div ui-view="eventsDetail"></div>
