<!-- Event Details Container - EVENT VIEW - PEOPLE-->

<div class="container">
	<div class="centerTxt">
		<div class="btn-group">
		  <a class="btn btn-default" ng-class="{active: showPeople=='team'}" ng-click="showPeopleType('team')">Event team</a>
		  <a class="btn btn-default" ng-class="{active: showPeople=='contacts'}" ng-click="showPeopleType('contacts')">Contacts</a>
		</div>
	</div>

	<div class="box-container np" ng-show="showPeople=='team'">
		<ul class="eventsPeople">
			<li ng-repeat="team in eventTeamItems">
				<a href="#/home/events/{{eventId}}/people">
					<div class="row" ng-swipe-left="showButtons = true" ng-swipe-right="showButtons = false">
							<div class="deletepanel action-buttons" ng-show="showButtons" ng-animate="'animate'">
								<a href="#" class="deactivate"></a>
							</div>
							<div ng-class="{teaMember: team.type=='user', team: team.type=='team'}">
								<!-- show if is a user -->
								<h5 class="txtAdjust" ng-show="'{{team.type}}'=='user'">{{team.full_name}}</h5>
								<p class="small txtAdjust" ng-show="'{{team.type}}'=='user'">{{team.role_name}}</p>
								<!-- show if is a team -->
								<h5 class="txtAdjust" ng-show="'{{team.type}}'=='team'">{{team.name}}</h5>
								<p class="small txtAdjust" ng-show="'{{team.type}}'=='team'">{{team.description}}</p>
							</div>
						</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- CONTACT SECTION INSIDE EVENTS PEOPLE -->

	<div class="box-container np" ng-show="showPeople=='contacts'">
		<ul class="eventsPeople">
			<li ng-repeat="contact in eventContactItems">
				<a href="#/home/events/{{eventId}}/people/contacts/{{}}/edit">
					<div class="row">
						<div class="col-xs-12" ng-class="{teaMember: contact.type=='user', team: contact.type=='contact'}">
							<!-- show if is a contact -->
							<h5 class="txtAdjust" ng-show="'{{contact.type}}'=='contact'">{{contact.full_name}}</h5>
							<p class="small txtAdjust" ng-show="'{{contact.type}}'=='contact'">{{contact.title}}</p>
							<!-- show if is a user -->
							<h5 class="txtAdjust" ng-show="'{{contact.type}}'=='user'">{{contact.full_name}}</h5>
							<p class="small txtAdjust" ng-show="'{{contact.type}}'=='user'">{{contact.role_name}}</p>
						</div>
						<!-- <div class="col-xs-5 editpanel">
							<a href="#" class="edit pull-left"></a>
							<a href="#" class="deactivate pull-right"></a>
						</div> -->
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
