<!-- EDIT TASKS PAGE -->

<div class="container">
	<div class="dividersBar big">TITLE</div>
	<form>
		<div class="box-container edit-list tasks">	
			<div class="col-xs-12 ">
				<input type="text" value="" class="clean txtAdjust">
			</div>
		</div>
		<div class="dividersBar big">ASSIGNED TO</div>
		<div class="box-container edit-list tasks np">
			<ul>
				<li>
					<div class="col-xs-12">
						<!--<h5 class="user-data">George Tan</h5>-->
						<input type="text" value="" class="clean short user-data txtAdjust">
					</div>
				</li>
			</ul>
		</div>
		<div class="dividersBar big">DUE DATE</div>
		<div class="box-container edit-list tasks">
			<div class="col-xs-12">
				<!--<h5 class="date-data">WED Nov 9</h5>-->
				<input type="date" value="" class="clean event_start_date short">
			</div>
		</div>
	</form>
</div>
