<!-- Events Container - EDIT CONTACT -->

<div class="container">
	<div class="dividersBar">NAMES</div>
	<div class="box-container np">
		<ul>
			<li>FIRST NAME</li>
			<li>LAST NAME</li>
		</ul>
	</div>
	<div class="dividersBar">TITLE</div>
	<div class="box-container np">	
		HOLA
	</div>
	<div class="dividersBar">CONTACTS</div>
	<div class="box-container np">
		<ul>
			<li>EMAIL</li>
			<li>PHONE NUMBER</li>
		</ul>
	</div>
	<div class="dividersBar">ADDRESS</div>
	<div class="box-container np">
		<ul>
			<li>ADDRESS 1</li>
			<li>ADDRESS 2</li>
			<li>COUNTRY</li>
			<li>CITY</li>
			<li>STATE</li>
			<li>ZIP CODE</li>
		</ul>
	</div>
</div>
