
<!-- PHOTOS SECTION -->

<div class="container">
	<div class="box-container">
		<div class="row">
			<div class="col-xs-4" style="background-color:red">
				<img src="">
			</div>
			<div class="col-xs-4" style="background-color:green">
				<img src="">
			</div>
			<div class="col-xs-4" style="background-color:blue">
				<img src="">
			</div>
			<div class="col-xs-4" style="background-color:yellow">
				<img src="">
			</div>
			<div class="col-xs-4" style="background-color:pink">
				<img src="">
			</div>
			<div class="col-xs-4" style="background-color:hotpink">
				<img src="">
			</div>
		</div>
	</div>
</div>