<!-- EVENTS - ADD EXPENSES VIEW -->

<div class="container">
	<div class="box-container events expenses np">
		<div class="row">
			<div class="col-xs-7 expenses-details">
				<label class="medium">Name</label>
				<input type="text"></input>
				<label class="medium mt15">Amount</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
			  	<input type="number" class="form-control">
				</div>
			</div>
			<div class="col-xs-4 expenses-attach pull-right">
				<div class="fileUpload">
				  <p>Attach receipt</p>
				  <input type="file" class="upload" accept="image/*"/>
				</div>
			</div>
		</div>
	</div>
</div>
