<!-- Event Details Container - EVENT VIEW - PEOPLE-->

<div class="container">
	<div class="centerTxt">
		<div class="btn-group">
		  <a class="btn btn-default" ng-class="{active: showPeople=='team'}" ng-click="showPeopleType('team')">Event team</a>
		  <a class="btn btn-default" ng-class="{active: showPeople=='contacts'}" ng-click="showPeopleType('contacts')">Contacts</a>
		</div>
	</div>

<!--	<div class="box-container np" ng-show="(showPeople=='team') && UserInterface.noData==false"> -->
	<div class="box-container np" ng-show="showPeople=='team'">
		<ul class="eventsPeople swipe-list" go-to>
			<li ng-repeat="team in eventTeamItems">
        <div class="row action-buttons single-button" ng-swipe-left="showButtons = true" ng-swipe-right="showButtons = false" ng-show="showButtons" ng-animate="'animate'" ng-click="goTo('#/home/events/{{eventId}}/people')">
            <div ng-class="{team_member: team.type=='user', team: team.type=='team', pushed: showButtons}" class="row-content">
              <!-- show if is a user -->
              <h5 class="txtAdjust" ng-show="'{{team.type}}'=='user'">{{team.full_name}}</h5>
              <p class="small txtAdjust" ng-show="'{{team.type}}'=='user'">{{team.role_name}}</p>
              <!-- show if is a team -->
              <h5 class="txtAdjust" ng-show="'{{team.type}}'=='team'">{{team.name}}</h5>
              <p class="small txtAdjust" ng-show="'{{team.type}}'=='team'">{{team.description}}</p>
            </div>
            <div class="deletepanel actions-panel">
              <button class="noButton deactivate" stop-event='click'></button>
            </div>
        </div>
			</li>
		</ul>
    <!-- No Event team -->
 <!--   <div class="empty people" ng-show="(showPeople=='team') && UserInterface.noData"> 
    <div class="empty people">
      <span class="no-event-team"></span>
      <h4>No Event team</h4>
      <h6>There isn't anyone on the event team</h6>
      <h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add<br>users or teams to the event.</h6>
    </div>-->
    <!-- End No Event team -->
	</div>

	<!-- CONTACT SECTION INSIDE EVENTS PEOPLE -->

<!--	<div class="box-container np" ng-show="showPeople=='contacts' && UserInterface.noData==false"> -->
	<div class="box-container np" ng-show="showPeople=='contacts'">
		<ul class="eventsPeople" go-to>
			<li ng-repeat="contact in eventContactItems">
        <div class="row action-buttons dual-button" ng-swipe-left="showButtons = true" ng-swipe-right="showButtons = false" ng-show="showButtons" ng-animate="'animate'" ng-click="goTo('#/home/events/{{eventId}}/people/contacts/{{contact.id}}/view')">
          <div class="row-content" ng-class="{team_member: contact.type=='user', team: contact.type=='contact'}">
            <!-- show if is a contact -->
            <h5 class="txtAdjust" ng-show="'{{contact.type}}'=='contact'">{{contact.full_name}}</h5>
            <p class="small txtAdjust" ng-show="'{{contact.type}}'=='contact'">{{contact.title}}</p>
            <!-- show if is a user -->
            <h5 class="txtAdjust" ng-show="'{{contact.type}}'=='user'">{{contact.full_name}}</h5>
            <p class="small txtAdjust" ng-show="'{{contact.type}}'=='user'">{{contact.role_name}}</p>
          </div>
          <div class="editpanel actions-panel">
            <button class="noButton edit" ng-click="goTo('#home/events/{{eventId}}/people/contacts/{{contact.id}}/edit')"></button>
            <button class="noButton deactivate"></button>
          </div>
        </div>
			</li>
		</ul>
    <!-- No Contacts -->
<!--    <div class="empty people" ng-show="showPeople=='contacts' && UserInterface.noData==true"> 
    <div class="empty people">
      <span class="no-contacts"></span>
      <h4>No Contacts</h4>
      <h6>There aren't any contacts for the event</h6>
      <h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add a<br>contact to the event.</h6>
    </div>-->
    <!-- End No Contacts -->
	</div>
</div>


