<!-- Events - ADD NEW COMMENT -->

<div class="container">
	<form>
  	<div class="box-container">
  		<textarea rows="5" cols="30" placeholder="Write your comment" ng-model="comment.content"></textarea><br />
  		</textarea>
  	</div>
    <div class="row">
      <div class="col-xs-12 mt20">
        <label>Save</label>
      </div>
      <div class="col-xs-12">
        <input type="submit" value="save" class="btn btn-danger" ng-click="createComment(comment)">
      </div>
    </div>
  </form>
</div>
