
<!-- PHOTOS SECTION -->

<div class="container">
	<div class="box-container">
		<div class="gallery">
			<ul>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<img src="assets/images/gallery.jpg"></a>
				</li>
			</ul>
		</div>
		<div class="dividersBar">12 PHOTOS</div>
	</div>
</div>