
<!-- PHOTOS SECTION -->

<div class="container">
	<div class="box-container">
		<ul class="gallery">
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
			<li>
				<img src="assets/images/gallery.jpg" alt="Image 010"></a>
			</li>
		</ul>
		<div class="dividersBar">12 PHOTOS</div>
	</div>
</div>