<!-- Events - COMMENTS VIEW-->

<div class="container">
	<div class="dividersBar big">SUMMARY</div>
	<div class="box-container np">
		<ul class="comments">
			<li>
				<div class="margin-data">
					<p class="comment-user">Craig Williams</p>
					<p class="comment-date small">10 mins ago</p>
  
					<p class="clearfix medium comment-short">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page demonstraverunt lectores legere me lius quod.</p>
					<a href="#" class="blue full-comment">Show full comment</a>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<a href="#" ng-model="checked">
						<p class="comment-user">Jonathan Prince</p>
						<p class="comment-date small">Yesterday</p>

						<p class="clearfix medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page demonstraverunt lectores legere me lius quod</p>
					</a>
					<div class="editpanel pull-right" ng-show="checked">
						<a href="#" class="edit"></a>
						<a href="#" class="deactivate"></a>
					</div>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<p class="comment-user">Chad Thompson</p>
					<p class="comment-date small">A month ago</p>
					
					<p class="clearfix medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
				</div>
			</li>
		</ul>
	</div>
	<div ng-controller="AccordionDemoCtrl">
	  <accordion>
	    <accordion-group heading="Static Header">
	      This content is straight in the template.
	    </accordion-group>
	    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
	      {{group.content}}
	    </accordion-group>
	    <accordion-group heading="Dynamic Body Content">
	      <p>The body of the accordion group grows to fit the contents</p>
	        <button class="btn btn-small" ng-click="addItem()">Add Item</button>
	        <div ng-repeat="item in items">{{item}}</div>
	    </accordion-group>
	  </accordion>
	</div>
</div>
