<!-- Event Details Container - ABOUT VIEW-->
<div class="google-map">
	<map zoom-control="false" center="{{[event.place.latitude,event.place.longitude]}}" map-type-control='false' street-view-control="false" pan-control="false" styles={{map_styles}}>
  <marker position="{{[event.place.latitude,event.place.longitude]}}" title="{{event.place.name||'venue'}}"></marker>
</div>
<a href="#/home/events/{{event.id}}/map" class="blue">me full screen!</a>
<div class="container">
	<!-- ALERT FOR CONTAINER STATUS - SUBMITTED -->
	<div class="box-container submitted" ng-show="event.event_status=='Submitted'">
		<p>Your post event report has been submitted for approval. Please review and either <a href="#">approve</a> or <a href="#">reject</a>.</p>
	</div>
	<!-- ALERT FOR CONTAINER STATUS - LATE -->
	<div class="box-container late" ng-show="event.event_status=='Late'">
		<p>Your event report is late. Please <a href="#">submit post event data</a>, <a href="#">upload photos</a>, <a href="#">enter expenses</a>, and <a href="#">enter comments</a> now. Once complete please <a href="#">submit</a> your post event form.</p>
	</div>
	<!-- ALERT FOR CONTAINER STATUS - SCHEDULED -->
	<div class="box-container scheduled" ng-show="event.event_status=='Scheduled'">
		<p>Your event is scheduled for today. Please <a href="#">enter post event data</a>, <a href="#">upload photos</a>, <a href="#">conduct surveys</a>, <a href="#">enter expenses</a>, and  <a href="#">gather comments</a> from your audience during or shortly after the event. Once complete please <a href="#">submit</a> your post event form.</p>
	</div>
	<div class="box-container events eventDetails">
		<h5>{{event.campaign.name}}</h5>
		<div class="date-data">
			{{event.start_date}}<br>
			{{event.start_time}} - {{event.end_time}}
		</div>
		<div class="place-data">
			<a href="#" class="blue">{{event.place.name}}</a><br>
			{{event.place.formatted_address}}
			<br>
			{{event.place.state_name}}, {{event.place.state}}, {{event.place.zipcode}}
		</div>
		<button type="button" class="btn-default btn-sm edit" redirect-to="{{editUrl}}"></button>
		<button type="button" class="btn-default btn-sm deactivate"></button>
	</div>
</div>

