<!-- Events - COMMENTS VIEW-->

<div class="container">
	<div class="dividersBar big">SUMMARY</div>
	<div class="box-container np">
		<ul class="comments">
			<li ng-repeat="comment in comments" class="expandible-comment" ng-class="{'expanded': expand, 'collapsed': !expand}">
				<div class="margin-data">
					<p class="comment-user">Craig Williams</p>
					<p class="comment-date small">{{comment.created_at}}</p>
					<p class="clearfix medium">{{comment.content}}</p>
					<span class="blue full-comment" ng-click="expand = !expand" data-content-expanded="Collapse comment" data-content-collapsed="Show full comment"></span>
					<div class="editpanel pull-right" ng-show="checked">
						<a href="#" class="edit"></a>
						<a href="#" class="deactivate"></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
