<!-- Event Details Container - ADD EVENT VIEW-->

<div class="container">
	<div class="box-container events">
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Campaign name</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12 mt20">
		  	<label>Start</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="text" class="event_start_date">
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="text">
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12">
		  	<label>End</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="text" class="event_end_date">
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12 mt20">
		  	<label>Place</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
	</div>
</div>
