<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a class="btn" href="#/login"><</a>
      <p>Reset password</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Enter your email and we will send you instructions to help you reset your password</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" placeholder="email" ng-model="user.email">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn" href="#/login">Send</a>
    </div>
  </div>
</div>
