
<snap-drawer>
  <!-- Menu -->
  <div>

      <a href="#home/companies/select"><h5 class="txtAdjust">{{currentCompany.name}}</h5></a>

    <ul>
      <li ng-repeat="item in navigationItems">
        <a href="{{item.link}}" class="{{item.class}}">{{item.label}}</a>
      </li>
    </ul>
    <ul class="navbar-fixed-bottom">
      <li ng-repeat="action in actionItems">
        <a href="{{action.link}}" ng-click="{{action.click}}" class="{{action.class}}">{{action.label}}</a>
      </li>
    </ul>
  </div>
</snap-drawer>
<snap-content snap-options="snapOptions" data-snap-ignore="true">
  <!-- Default header -->
  <div class="navHeader" ng-class="{gallery: UserInterface.hasCustomHomeClass}" ng-show="!UserInterface.searching">
    <div class="left">
      <button snap-toggle class="noButton menuIcon pull-left" ng-show="UserInterface.hasMenuIcon"></button>
      <button snap-toggle class="noButton delete pull-left" ng-show="UserInterface.hasDeleteIcon"></button>
      <button snap-toggle class="noButton backIcon pull-left" ng-show="UserInterface.hasBackIcon"></button>
    </div>
    <div class="center">
      <h1 class="txtAdjust">{{UserInterface.title}}</h1>
    </div>
    <div class="right">
      <span ng-show="showSearchField" class="pull-right">
          <button class="btn btn-grey pull-right" ng-click="showSearchEvent(false)" style="margin-left:5px;">Cancel</button>
          <div class="pull-right">
              <scopic-typeahead 
                  data-type="scopic.consts.typeahead_types.EVENTS"
                  data-is-custom="scopic.consts.booleans.TRUE">
              </scopic-typeahead>
          </div>
      </span>
      <span ng-hide="showSearchField">
          <button class="noButton magnifierIcon out pull-right"
                ng-click="showSearchEvent(true)"
                ng-show="UserInterface.hasMagnifierIcon"
                ng-swipe-left="UserInterface.searching=true">
          </button>
          <button class="noButton addIcon pull-right" ng-show="UserInterface.hasAddIcon" redirect-to-state="{{UserInterface.AddIconState}}" ng-animate=" ' animate' "></button>
      </span>

      <div class="noButton addIcon pull-right fileUpload hidden">
        <input type="file" class="upload" accept="image/*"/>
      </div>

      
      <button class="btn btn-danger" ng-show="UserInterface.hasSaveIcon" ng-click="UserInterface.actionSave">Save</button>


      <button class="btn btn-grey" ng-show="UserInterface.hasEditIcon" redirect-to="{{UserInterface.EditIconUrl}}">Edit</button>
      <button class="btn btn-grey" ng-show="UserInterface.hasCancelIcon">Cancel</button>
      <button class="noButton delete" ng-show="UserInterface.hasCloseIcon" redirect-to-state="{{UserInterface.CloseState}}"></button>
      <button class="btn btn-danger hidden">Post</button>
    </div>
  </div>

  <!-- Search header -->

    <div class="navHeader" ng-show="UserIterface.searching" ng-swipe-left="UserInterface.searching=false">
    <button snap-toggle class="noButton backIcon"></button>
    <input class="search" type="text">
  </div>

  <!-- Partials -->
  <div ui-view="details"></div>
</snap-content>
