<snap-drawer>
  <!-- Menu -->
  <div>
    
      <a href="#"><h5>Brandscopic</h5></a>
    
    <ul>
      <li ng-repeat="item in navigationItems">
        <a href="{{item.link}}" class="{{item.class}}">{{item.label}}</a>
      </li>
    </ul>
    <ul class="navbar-fixed-bottom">
      <li ng-repeat="action in actionItems">
        <a href="{{action.link}}" ng-click="{{action.click}}" class="{{action.class}}">{{action.label}}</a>
      </li>
    </ul>
  </div>
</snap-drawer>
<snap-content snap-options="snapOptions">
  <!-- Default header -->
  <div class="navHeader" ng-show="!UserInterface.searching">
    <button snap-toggle class="noButton menuIcon pull-left"></button>
    <h1 class="txtAdjust">{{UserInterface.title}}</h1>
    <button class="noButton magnifierIcon pull-right" 
            
            ng-swipe-left="UserInterface.searching=true">
    </button>
    <button class="noButton addIcon pull-right" ng-show="UserInterface.hasAddIcon"></button>
  </div>
  <!-- Search header -->
  <div class="navHeader" ng-show="UserIterface.searching" ng-swipe-left="UserInterface.searching=false">
    <button snap-toggle class="noButton backIcon"></button>
    <input class="search" type="text">
  </div>
    
  <!-- Partials -->
  <div ui-view="details"></div>
</snap-content>
