<div class="topnav" style="background-color:red; height: 55px;">RESET PASSWORD</div>
<flip horizontal>
    <flip-front>
      <div class="row">
        <div class="brand">
            <img src="assets/images/brand.svg" alt="Brandscopic Brand" title="Brandscopic Brand" class="img-responsive">
        </div>
        <div class="col-xs-12">
          <input class="email" type="text" placeholder="Email" ng-model="user.email">
          <input class="password" type="text" placeholder="Password" ng-model="user.password">
        </div>
        <div class="col-xs-12"> 
          <button class="btn btn-danger" ng-click="validateUser()">Login</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button flip-toggle>Forgot your password?</button>
        </div>
      </div>
    </flip-front>

    <flip-back>
      <div class="row">
        <div class="col-xs-12">
          <button flip-toggle><</button>
          <p>Reset password</p>
        </div>
        <div class="col-xs-12">
          <p>Enter your email and we'll send you<br>instructions to help you reset your password.</p>
        </div>
        <div class="col-xs-12">
          <input type="text" placeholder="Email" ng-model="user.email" class="email rounded">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-danger" href="#/login">Send</button>
        </div>
      </div>
    </flip-back>
</flip>
