
<!-- Notifications Container -->

<div class="container">
	<div class="box-container np">
		<ul class="notifications">
			<li>
				<div class="row late">
          <div class="col-xs-11 eventIcon">
            <p>There are 6 late event recaps</p>
            <!--<a href="#" class="noButton nextIcon pull-right"></a>-->
          </div>
        </div>
			</li>
			<li>
				<div class="row submitted">
          <div class="col-xs-11 tasksIcon">
            <p>There are 3 event recaps that are pending approval</p>
            <!--<a href="#" class="noButton nextIcon pull-right"></a>-->
          </div>
        </div>
			</li>
			<li>
				<div class="row late">
          <div class="col-xs-11 eventIcon">
            <p>Your task “Pick the business cards from the printer” has a new comment.</p>
            <!--<a href="#" class="noButton nextIcon pull-right"></a>-->
          </div>
        </div>
			</li>
			<li>
				<div class="row approve">
          <div class="col-xs-11 commentIcon">
            <p>Your task “Pay the invoice for the flyers” has a new comment.</p>
            <!--<a href="#" class="noButton nextIcon pull-right"></a>-->
          </div>
        </div>
			</li>
		</ul>
	</div>
</div>



<!-- No notifications 

<div class="empty notifications">
	<span class="no-notifications"></span>
	<h4>No Notifications</h4>
	<h6>You do not have any notifications</h6>
</div>

-->