<div class="row">
	<div class="col-xs-12" style="background-color: #4f4f4f; height: 45px; ">
		<ul class="nav" style="list-style:none;">
			<li style="display:inline-block;"><a href="#" style="color:white;">ABOUT</a></li>
			<li style="display:inline-block;"><a href="#" style="color:white">ANALYSIS</a></li>
			<li style="display:inline-block;"><a href="#" style="color:white">PHOTOS</a></li>
			<li style="display:inline-block;"><a href="#" style="color:white">COMMENTS</a></li>
	</div>
</div>


<!-- TEST -->

<div id="scrollcontainer" >
  <div id="scrollplane" >
	  <a class="nav" href="?">Link 1</a>
	  <a class="nav" href="?">Link 2</a>
	  <a class="nav" href="?">Link 3</a>
	  <a class="nav" href="?">Link 1</a>
	  <a class="nav" href="?">Link 2</a>
	  <a class="nav" href="?">Link 3</a>
  </div>
</div> 

<ul id="scroll">
	<li>ABOUT</li>
	<li>PEOPLE</li>
	<li>TASKS</li>
	<li>DATA</li>
	<li>PHOTOS</li>
	<li>COMMENTS</li>
	<li>EXPENSES</li>
	<li>SURVEYS</li>
</ul>