<!-- Events - COMMENTS VIEW -->

<div class="container">
	<div class="dividersBar big">SUMMARY</div>
	<div class="box-container np">
		<ul class="comments">
			<li>
				<div class="margin-data">
					<p class="comment-user">Craig Williams</p>
					<p class="comment-date small">10 mins ago</p>

					<fieldset class="rating clearfix">
					    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
					    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
					    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
					    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
					    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
					</fieldset>

					<p class="clearfix medium">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page demonstraverunt lectores legere me lius quod</p>
					<a href="#" class="blue full-comment">Show full comment</a>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<p class="comment-user">Jonathan Prince</p>
					<p class="comment-date small">Yesterday</p>

					<fieldset class="rating clearfix">
					    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
					    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
					    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
					    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
					    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
					</fieldset>
					<p class="clearfix medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<p class="comment-user">Chad Thompson</p>
					<p class="comment-date small">A month ago</p>

					<fieldset class="rating clearfix">
					    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
					    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
					    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
					    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
					    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
					</fieldset>

					<p class="clearfix medium">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
				</div>
			</li>
		</ul>
	</div>
</div>


<!-- No Comments - Venues -->

<div class="empty">
	<span class="no-comments"></span>
	<h4>No Comments</h4>
	<h6>There aren't any comments for this venue</h6>
	<h6><b>Tip:</b> You can create a comment from the <br> Comments section on any Event Details<br>screen.</h6>
</div>
