<!-- VENUES - LIST VIEW-->

<div class="container" ng-repeat="venue in venuesItems">
	<div class="box-container np venues">
		<ul>
			<li>
				<div class="margin-data">
					<div class="col-xs-2 score">
						<p class="blue">
							<span class="score-number">{{venue.score}}</span> SCORE
						</p>
					</div>
					<div class="col-xs-9">
						<h5 class="txtAdjust">{{venue.name}}</h5>
						<p class="txtAdjust medium">{{venue.address}}</p>
					</div>
					<a href="#/home/venues/{{venue.id}}/about" class="noButton nextIcon pull-right"></a>
				</div>
			</li>
		</ul>
	</div>
</div>


