<!-- Event Details Container - ADD EVENT VIEW-->

<div class="container mt5">
	<div class="box-container events">
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Name</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Type</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Address</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Country</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>City</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>State</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Zip code</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>URL (optional)</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Phone number (optional)</label>
		  </div>
		  <div class="col-xs-12">
		  	<input type="text">
		  </div>
		</div>
	</div>
</div>
