<!-- VENUES DETAILS - ANALYSIS -->

<div class="container">
	<div class="box-container venues">
		<div class="score big pull-left">
			<p class="blue">
				<span class="score-number">89</span><br>
				SCORE
			</p>
		</div>
		<h5 class="analysis">Fox and Hound Pub & Grill</h5>
		<p class="medium clearfix mt25">
			Fox and Hound Pub & Grill has earned a venue score of 65 and has performed well relative to orther bars in the area. Specifically, Fox and Hound Pub & Grill and an average number of impressions per promo hour. In addition, the cost per impression is lower than other the area. <br>
			Attendees at previous events have been mostly 25-34 year old white males. However, there has been a equivalent percentage of 25-34 year old white females as well.
		</p>
		<ul class="stats simple">
			<li>
				<div class="row">
					<div class="col-xs-5">
						<p class="number">6</p>
					</div>
					<div class="col-xs-7">
						<p class="category">EVENTS</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-5">
						<p class="number">10</p>
					</div>
					<div class="col-xs-7">
						<p class="category">PROMO HOURS</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-5">
						<p class="number">1,450</p>
					</div>
					<div class="col-xs-7">
						<p class="category">IMPRESSIONS</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-5">
						<p class="number">1,050</p>
					</div>
					<div class="col-xs-7">
						<p class="category">INFLUENCED</p>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="col-xs-5">
						<p class="number">880</p>
					</div>
					<div class="col-xs-7">
						<p class="category">SAMPLED</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="dividersBar big">DEMOGRAPHICS</div>
	<div class="box-container">
		<div class="row sex">
			<div class="col-xs-7 male blue">
				<p class="percent">55%</p>
				<h5 class="blue">MALE</h5>
			</div>
			<div class="col-xs-5 female blue">
				<p class="percent">45%</p>
				<h5 class="blue">FEMALE</h5>
			</div>
		</div>
		<p>Here goes the age graph</p>
		<div class="row highcharts-container">
			<div class="age-graph"></div>
		</div>
		<p>Here goes the ethnicity graph</p>
		<div class="row highcharts-container">
			<div id="ethnicity-graph"></div>
		</div>
	</div>
	<div class="dividersBar big">TRENDS BY DAY OF WEEK</div>
	<div class="box-container">
		<p class="medium">
			Fox and Hound Pub & Grill has historically performed the best on Fridays. Specifically, Fox and Hound Pub & Grill yields the most impressions per hour and influences per hour on Fridays. Butter also yields a high number of impressions per hour samples per hur on Saturdays.
		</p>
		Here goes the graphic for TRENDS :)
		<div id="trends-day-week-graph"></div>
	</div>
</div>

