<!-- VENUES DETAILS - ABOUT -->

<div class="google-map">
	<map zoom-control="false" center="{{[event.place.latitude,event.place.longitude]}}" map-type-control='false' street-view-control="false" pan-control="false" styles={{map_styles}}>
  <marker position="{{[event.place.latitude,event.place.longitude]}}" title="{{event.place.name||'venue'}}"></marker>
</div>
<!--<a href="#/home/events/{{event.id}}/map" class="fullscreen"></a>-->

<a href="#/home/venues/{{venue.id}}/map" class="fullscreen"></a>

<!-- END OF THE MAP FOR VENUES -->

<div class="container venues">
	<div class="box-container venuesDetails">
		<h5>Fox and Hound Pub & Grill</h5>
		<div class="place-data">
			505 University Drive, College Station<br>
			TX, United States<br>
			(979) 846-0211<br>
			<a href="#" class="blue">www.foxandhound.com</a><br>
			$$ Bar<br>
			TD Linx Code
		</div>
		<div class="time-data">
			<ul>	
				<li>
					<div class="day">
			   		Tuesday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Wednesday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Thursday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Friday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Saturday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Sunday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
				<li>
					<div class="day">
			   		Monday
			   	</div>
			   	<div class="hour">
			   		11:00 AM - 2:00 PM
			   	</div>
			  </li>
			</ul>
		</div>
	</div>
</div>
