<!-- VENUES - LIST VIEW-->

<div class="container">
	<div class="box-container np venues">
		<ul>
			<li>
				<div class="margin-data">
					<div class="col-xs-2 score">
						<p class="blue">
							<span class="score-number">97</span> SCORE
						</p>
					</div>
					<div class="col-xs-9">
						<h5 class="txtAdjust">Fox and Hound Pub & Grill</h5>
						<p class="txtAdjust medium">505 University Drive, College Station</p>
					</div>
					<a href="#/home/dashboard/{{item.id}}" class="noButton nextIcon pull-right"></a>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<div class="col-xs-2 score">
						<p class="blue">
							<span class="score-number">89</span> SCORE
						</p>
					</div>
					<div class="col-xs-9">
						<h5 class="txtAdjust">Tavern on the Avenue</h5>
						<p class="txtAdjust medium">505 University Drive, College Station</p>
					</div>
					<a href="#/home/dashboard/{{item.id}}" class="noButton nextIcon pull-right"></a>
				</div>
			</li>
			<li>
				<div class="margin-data">
					<div class="col-xs-2 score">
						<p class="blue">
							<span class="score-number">76</span> SCORE
						</p>
					</div>
					<div class="col-xs-9">
						<h5 class="txtAdjust">Bottom of the Hill</h5>
						<p class="txtAdjust medium">505 University Drive, College Station</p>
					</div>
					<a href="#/home/dashboard/{{item.id}}" class="noButton nextIcon pull-right"></a>
				</div>
			</li>
		</ul>
	</div>
</div>

