<span ng-show="isCustom">
	<input type="text" 
		   ng-model="searchModel" 
		   typeahead="item as item.label for item in itemsToShow | filter:{label:$viewValue}" 
		   typeahead-loading="loadingLocations" 
		   class="form-control arrow"
		   typeahead-template-url="views/directives/templates/typeaheadCustom.html">
	<i ng-show="loadingLocations" 
	   class="glyphicon glyphicon-refresh">
	</i>
</span>

<span ng-hide="isCustom">
	<input type="text" 
		   ng-model="searchModel" 
		   typeahead="item for item in itemsToShow | filter:$viewValue | limitTo:8" 
		   typeahead-loading="loadingLocations" 
		   class="form-control arrow">
	<i ng-show="loadingLocations" 
	   class="glyphicon glyphicon-refresh">
	</i>
</span>

              <scopic-typeahead 
                  data-type="scopic.consts.typeahead_types.EVENTS"
                  data-is-custom="scopic.consts.booleans.TRUE">
              </scopic-typeahead>


<ul>
    <li ng-repeat="obj in match">
        <a>{{ obj.label }}</a>
        <ul>
            <li ng-repeat="item in obj.items"><a>
                {{ item.label }}</a>
            </li>
        </ul>
    </li>
</ul>

angular.module('brandscopicApp.sharedDirectives', [])
    .directive('scopicTypeahead', ['CompanyService', 'debounce', 'UserService', 'Venue', 'Event', function (CompanyService, debounce, UserService, Venue, Event) {
        "use strict";

        var controller = function ($scope, $attrs) {
        	$scope.searchModel = ""
		    $scope.itemsToShow = []
		    $scope.customTemplate = ""

		    var typeahead_type = undefined;
		    $scope.isCustom = $scope.$eval($attrs.isCustom)

		    var _getSearch = function (value) {
		        var 
		          credentials = { company_id: CompanyService.getCompanyId(), auth_token: UserService.currentUser.auth_token, term: value }
		        , actions = { 
		        	success: function (items) {
								if(typeahead_type === scopic.consts.typeahead_types.PLACES) {
	                                angular.forEach(items, function (item) {
	                                  	$scope.itemsToShow.push(item.label)
	                                });
                                }
                                if(typeahead_type === scopic.consts.typeahead_types.EVENTS) {
                                	$scope.itemsToShow = []
	                                angular.forEach(items.facets, function (item) {
	                                	$scope.itemsToShow.push(item)
	                                });
                                }
		                      }
                     , error: function (event_error) {
	                            $scope.event_error = event_error
                        }
                    }

		      	switch($scope.$eval($attrs.type)) {
	                case scopic.consts.typeahead_types.PLACES:
	                	typeahead_type = scopic.consts.typeahead_types.PLACES
	                	Venue.search(credentials, actions)
	                    break;
	                case scopic.consts.typeahead_types.EVENTS: {
	                	typeahead_type = scopic.consts.typeahead_types.EVENTS
	                	Event.search(credentials, actions)
	                    break;
	                }
	            };
		    }
		    // When searchModel change make api call to get search result
		    $scope.$watch('searchModel', function (value) {
		        getDebouncedPlaces(value)
		    });
		    // Makes a debounced watch of the model to avoid calling multiple times to the API
		    var getDebouncedPlaces = debounce(function (value) {
		        _getSearch(value)
		    });
		};

        return {
            controller: controller,
            restrict: 'E',
            templateUrl: 'views/directives/templates/typeahead.html'
        };
    }]);



var scopic = {};
scopic.consts = Object.freeze({
    typeahead_types: {
        PLACES: 'PLACES',
        EVENTS: 'EVENTS'
    },
    booleans: {
        TRUE: true,
        FALSE: false
    }
});

// All inner objects of it are now also immutable after app load
angular.forEach(scopic.consts, function (c) {
    c = Object.freeze(c);
});
