
<div class="statusBar" ng-show="!UserInterface.searching">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 filter" ng-repeat="filter in filters" ng-class="{active: event_status==filter.id}">
				<a ng-click="filterStatus('{{filter.id}}')">
					<div class="number">{{filter.count | totalCount}}</div>
					<p>{{filter.label}}</p>
				</a>
			</div>
		</div>
	</div>
</div>

<scopic-event-filter filter="filter"></scopic-event-filter>


<!-- No events

<div class="empty">
	<span class="no-events"></span>
	<h4>No Events</h4>
	<h6>You have no events scheduled</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to <br>schedule an event.</h6>
</div>

-->