<needs-permissions provider="eventsPhotosPermissionsService">
	<!-- PHOTOS SECTION -->
	<div class="container" ng-show="hasPhotos">
		<div class="box-container photos clearfix">
			<div class="gallery">
				<ul id="event-gallery" class="clearfix">
					<li ng-repeat="photo in photos">
	        <a href="#home/events/{{eventId}}/photos/slider/{{$index}}"><img ng-src="{{ photo.file_medium }}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <!-- Loading -->
    <div class="loading" ng-show="loading"></div>

    <!-- Uploading -->
    <div ng-show="uploading">
      Uploading your AWESOME pictures like a boss.
    </div>

    <!-- No events -->
	<div class="empty" ng-show="!hasPhotos && !loading">
		<span class="no-photo"></span>
		<h4>No Photos</h4>
		<h6>There aren't any photos that have<br>been uploaded to this event</h6>
		<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to<br>upload photos.</h6>
	</div>
</needs-permissions>