<!-- Event Details Container - ADD EVENT VIEW-->

<div class="container" ng-animate=" ' animate' ">
	<div class="box-container events mt5">
		<form novalidate>
		<div class="row">
		  <div class="col-xs-12">
		  	<label>Campaign name</label>
		  </div>
		  <div class="col-xs-12">
			<select ng-model="event.campaign_id" 
					ng-options="item.id as item.name for item in campaingsDrop"
					class="form-control arrow">
			</select>
		  	<span ng-show="event_error.campaign.id" ng-class="{error: event_error.campaign.id}" ng-model="event_error.campaign.id">{{event_error.campaign.join()}}</span>
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12 mt20">
		  	<label>Start</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="date" class="event_start_date" ng-model="event.start_date">
		  	<span ng-show="event_error.start_date" ng-class="{error: event_error.start_date}" ng-model="event_error.start_date">{{event_error.start_date.join()}}</span>
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="time" ng-model="event.start_time">
		  	<span ng-show="event_error.start_at" ng-class="{error: event_error.start_at}" ng-model="event_error.start_time">{{event_error.start_at.join()}}</span>
		  </div>
		</div>
		<div class="row eventDate">
		  <div class="col-xs-12">
		  	<label>End</label>
		  </div>
		  <div class="col-xs-7">
		  	<input type="date" class="event_end_date" ng-model = "event.end_date">
		  	<span ng-show="event_error.end_date" ng-class="{error: event_error.end_date}" ng-model="event_error.end_date">{{event_error.end_date.join()}}</span>
		  </div>
		  <div class="col-xs-1 centerTxt m10">
		  	at
		  </div>
		  <div class="col-xs-4">
		  	<input type="time" ng-model="event.end_time">
		  	<span ng-show="event_error.end_at" ng-class="{error: event_error.end_at}" ng-model="event_error.end_at">{{event_error.end_at.join()}}</span>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-12 mt20">
		  	<label>Place</label>
		  </div>
		  <div class="col-xs-12">
		  	<div class="field-block" input-reset>
		      	<input  type="text"
			            id="eventPlace"
			            ng-model="place_reference" 
			            typeahead="item as item.label for item in itemsToShowPlaces | filter:{label:$viewValue}" 
			            typeahead-loading="loadingLocations" 
			            class="form-control search"
			            typeahead-template-url="views/directives/templates/typeaheadCustomPlaces.html" />
		      	<a href="#" class="type-reset hidden"></a>
		      	<i ng-show="loadingLocations" 
		         	class="glyphicon glyphicon-refresh">
		      	</i>
		      <input type="hidden" id="placeId" ng-model="event.place_reference" />
			</div>
	  	 	<!-- <scopic-typeahead
	  	 		data-type="scopic.consts.typeahead_types.PLACES">
	  	 	</scopic-typeahead> value="{{ event.place_reference }}"-->
		  </div>
		</div>
	</form>
	</div>
</div>
