
<!-- PHOTOS SECTION -->
<div>
<div class="container">
	<div class="box-container photos">
		<div class="gallery">
			<ul id="event-gallery">
				<li ng-repeat="photo in photos">
					<a href="#home/events/{{eventId}}/photos/slider"><img ng-src="{{ photo.file_medium }}"></a>
				</li>
			</ul>
		</div>
		<div class="dividersBar">{{ photosCount }}</div>
	</div>
</div>

<!-- No Photos 

<div class="empty">
	<span class="no-photo"></span>
	<h4>No Photos</h4>
	<h6>There aren't any photos that have<br>been uploaded to this event</h6>
	<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to<br>upload photos.</h6>
</div>

-->
