<!-- Events Container - CONTACT VIEW -->

<div class="container">
	<div class="box-container events contactDetails">
		<div class="contact">
			<h5>{{contact.full_name}}</h5>
			<p class="small">{{contact.title}}</p>
		</div>
		<div class="mail-data">
			<a class="blue" href="#">{{contact.email}}</a>
		</div>
		<div class="phone-data">
			<a class="blue" href="tel:{{contact.phone_number}}">{{contact.phone_number}}</a>
		</div>
		<div class="place-data">
			<div class="address">{{contact.street_address}}</div>
			<div class="city">{{contact.city}}, {{contact.state}}</div>
			<div class="zip_code">{{contact.zip_code}}</div>
			<div class="country">{{contact.country}}</div>
		</div>
	</div>
</div>
