<needs-permissions provider="eventsPermissionsService">
	<div class="statusBar" ng-show="!UserInterface.searching">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 filter" ng-repeat="filter in filters" ng-class="{active: event_status==filter.id}">
					<a ng-click="filterStatus('{{filter.id}}', true)">
						<div class="number">{{filter.count | totalCount}}</div>
						<p>{{filter.label}}</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="showEvents" class="showEvents" infinite-scroll="nextPage()" infinite-scroll-disabled="isLoadingEvents()" infinite-scroll-immediate-check="false">
		<scopic-event-filter filter="filter" events-items="eventsItems"></scopic-event-filter>
	</div>

	<!-- Loading -->
	<div class="loading" ng-show="loading">
		<h4>Loading</h4>
	</div>

	<!-- No events -->
	<div class="empty" ng-show="!showEvents && !loading">
		<span class="no-events"></span>
		<h4>No Events</h4>
		<h6>You have no events scheduled</h6>
		<h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to <br>schedule an event.</h6>
	</div>
</needs-permissions>