<!-- Events - COMMENTS VIEW -->

<div class="container">
	<div class="box-container np">
		<ul class="comments">
			<li ng-repeat="comment in comments | orderBy:'time'" class="expandible-comment" ng-class="{'expanded': expand, 'collapsed': !expand, lastItem: $last}">
				<div class="margin-data">
					<p class="comment-user" ng-show="comment.type=='google'">{{comment.author}}</p>
					<p class="comment-date small">{{comment.time | timeago}}</p>
					<div class="rating clearfix" ng-show="comment.type=='google'" data-rate="{{comment.rating}}">
					    <span class="rate1"></span>
					    <span class="rate2"></span>
					    <span class="rate3"></span>
					    <span class="rate4"></span>
					    <span class="rate5"></span>
					</div>
					<p class="clearfix medium">{{comment.content}}</p>
					<span class="blue full-comment" ng-click="expand = !expand" data-content-expanded="Collapse comment" data-content-collapsed="Show full comment"></span>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- Loading -->
<div class="loading bg-grey" ng-show="loading">
</div>

<!-- No Comments - Venues -->
<div class="empty" ng-show="!showComments && !loading">
	<span class="no-comments"></span>
	<h4>No Comments</h4>
	<h6>There aren't any comments for this venue</h6>
	<h6><b>Tip:</b> You can create a comment from the <br> Comments section on any Event Details<br>screen.</h6>
</div>
