<!-- VENUES - LIST VIEW -->
<needs-permissions provider="venuesPermissionsService">
  <div class="container" >
    <div class="box-container np">
      <ul class="venues" go-to>
        <li ng-repeat="venue in venuesItems | orderBy:'name'" ng-click="goTo('#/home/venues/{{venue.id}}/about')" ng-class="{lastItem: $last}">
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-2 score">
                <p class="blue">
                  <!-- <span class="score-number">{{venue.score}}</span> SCORE -->
                  <span class="score-number">{{venue.score | number}}</span>
                  <br> SCORE
                </p>
              </div>
              <div class="col-xs-9 venuesDescription">
                <!-- 						<h5 class="txtAdjust">{{venue.name}}</h5>
                <p class="txtAdjust medium">{{venue.address}}</p> -->
                <h5 class="txtAdjust">{{venue.name}}</h5>
                <p class="txtAdjust medium">{{venue.name}}, {{venue.formatted_address}}</p>
              </div>
              <a href="#/home/venues/{{venue.id}}/about" class="noButton nextIcon pull-right" stop-event='click'></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading bg-grey" ng-show="loading">
  </div>

  <!-- No Venues -->
  <div class="empty" ng-show="!showVenues && !loading">
    <span class="no-venues"></span>
    <h4>No Venues</h4>
    <h6>No venues have been added</h6>
    <h6><b>Tip:</b> Tap the <span class="glyphicon glyphicon-plus"></span> button above to add<br> a venue.</h6>
  </div>
</needs-permissions>