
<!-- PHOTOS SECTION -->

<div class="container">
	<div class="box-container">
		<div class="gallery">
			<ul>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
				<li>
					<a href="#home/venues/{{venueId}}/photos/slider"><img src="assets/images/gallery.jpg"></a>
				</li>
			</ul>
		</div>
		<div class="dividersBar">12 PHOTOS</div>
	</div>
</div>


<!-- No Photos - Venues -->

<div class="empty">
	<span class="no-photo"></span>
	<h4>No Photos</h4>
	<h6>There aren't any photos that have<br>been uploaded to this venue</h6>
	<h6><b>Tip:</b> You can upload photos from the <br> Photos section on any Event Details<br>screen.</h6>
</div>
