<!-- NEW SURVEY -->

<div class="container">
	<div class="box-container events surveys">
		<form>
			<h5>Demographics</h5>

			<p class="mt20">Gender</p>

			<!-- TODO: Make it work with ng-repeat.
			<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="gender in gendersList">
			    	<input id="{{ $index }}gender" type="radio" ng-model="genderSelected" name="gender{{ $index }}" value="{{ gender.key }}">
			    	<label for="{{ $index }}gender">{{ gender.value }}</label>
				</div>
			</div>-->

			<div class="radio-selector">
				<div class="radio clearfix">
			    	<input id="male" type="radio" ng-model="genderSelected" name="genderMale" value="{{ scopic.consts.surveys_question_gender.MALE }}">
			    	<label for="male">Male</label>
				</div>
				<div class="radio clearfix">
					<input id="female" type="radio" ng-model="genderSelected" name="genderFemale" value="{{ scopic.consts.surveys_question_gender.FEMALE }}">
			    	<label for="female">Female</label>
				</div>
			</div>

			<p class="mt25">Race/Ethnicity</p>

			<!--<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="race in racesList">
			    	<input id="{{ race.key }}" type="radio" ng-model="raceSelected" value="{{ race.key }}">
			    	<label for="{{ race.key }}">{{ race.value }}</label>
				</div>
			</div>-->

			<div class="radio-selector">
				<div class="radio clearfix">
			    	<input id="african" type="radio" ng-model="raceSelected" value="{{ scopic.consts.surveys_question_race.ASIAN }}">
			    	<label for="african">African American</label>
				</div>
				<div class="radio clearfix">
					<input id="asian" type="radio" ng-model="raceSelected" value="{{ scopic.consts.surveys_question_race.BLACK }}">
			    	<label for="asian">Asian</label>
				</div>
				<div class="radio clearfix">
					<input id="hispanic" type="radio" ng-model="raceSelected" value="{{ scopic.consts.surveys_question_race.LATINO }}">
			    	<label for="hispanic">Hispanic Latino</label>
				</div>
				<div class="radio clearfix">
					<input id="native" type="radio" ng-model="raceSelected" value="{{ scopic.consts.surveys_question_race.AMERICAN }}">
			    	<label for="native">Native Americans</label>
				</div>
				<div class="radio clearfix">
					<input id="white" type="radio" ng-model="raceSelected" value="{{ scopic.consts.surveys_question_race.WHITE }}">
			    	<label for="white">White</label>
				</div>
			</div>

			<p class="mt25">Age</p>

			<!--<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="age in agesList">
			    	<input id="{{ age.key }}" type="radio" ng-model="age" value="{{ age.key }}">
			    	<label for="{{ age.key }}">{{ age.value }}</label>
				</div>
			</div>-->

			<div class="radio-selector">
				<div class="radio clearfix">
			    	<input id="0" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.LESS12 }}">
			    	<label for="0"><12</label>
				</div>
				<div class="radio clearfix">
			    	<input id="12" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_12_17}}">
			    	<label for="12">12-17</label>
				</div>
				<div class="radio clearfix">
					<input id="18" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_18_20 }}">
			    	<label for="18">18-20</label>
				</div>
				<div class="radio clearfix">
					<input id="21" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_21_24 }}">
			    	<label for="21">21-24</label>
				</div>
				<div class="radio clearfix">
					<input id="25" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_25_34 }}">
			    	<label for="25">25-34</label>
				</div>
				<div class="radio clearfix">
					<input id="35" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_35_44 }}">
			    	<label for="35">35-44</label>
				</div>
				<div class="radio clearfix">
					<input id="45" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_45_54 }}">
			    	<label for="45">45-54</label>
				</div>
				<div class="radio clearfix">
					<input id="55" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.BETWEEN_55_64 }}">
			    	<label for="55">55-64</label>
				</div>
				<div class="radio clearfix">
					<input id="65" type="radio" ng-model="ageSelected" value="{{ scopic.consts.surveys_question_age.MORE_65 }}">
			    	<label for="65">65+</label>
				</div>
			</div>

			<p class="mt25">Home Zip Code</p>
			<input type="number" name="zipcode" class="short m10">

			<h5 class="mt48">Competitive awarenes & Usage</h5>
			<p class="medium m10">For each of the following brands, please let us know if you have purchased the product in the last 12 montsh, are aware of the product, or are unaware of the product.</p>

			<ul class="radio-selector table">
				<li>
					<div class="row fl">
						<div class="col-xs-3"></div>
						<div class="col-xs-3">PURCHASED</div>
						<div class="col-xs-3">AWARE</div>
						<div class="col-xs-3">UNAWARE</div>
					</div>
				</li>
				<li ng-repeat="brand in questions.brandsQuestion1">
					<div class="row">
						<div class="col-xs-3 txtAdjust">{{ brand.name }}</div>
						<div class="col-xs-3">
							<input id="{{ $index }}purchased" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.PURCHASED }}">
			    			<label for="{{ $index }}purchased">{{ scopic.consts.question_one_options.PURCHASED }}</label>
						</div>
						<div class="col-xs-3">
							<input id="{{ $index }}aware" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.AWARE }}">
			    			<label for="{{ $index }}aware">{{ scopic.consts.question_one_options.AWARE }}</label>
						</div>
						<div class="col-xs-3">
							<input id="{{ $index }}unaware" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.UNAWARE }}">
			    			<label for="{{ $index }}unaware">{{ scopic.consts.question_one_options.UNAWARE }}</label>
						</div>
					</div>
				</li>
			</ul>

			<p class="medium mt25">For each brand you have used, approximately how much do you spend each month?</p>

			<div class="mt25 clearfix" ng-repeat="brand in questions.brandsQuestion2">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<div class="input-group">
				    <span class="input-group-addon">$</span>
				    <input type="number" class="form-control" placeholder="0.00" ng-model="brand.model">
				</div>
			</div>

			<!-- CONVERSION LIKEHOOD -->

			<h5 class="clearfix mt48">Conversion likehood</h5>
			<p class="medium m10">For each of the following brands, please let us know how likely you are to purchase the brand in the next 12 months.</p>

			<div class="mt25" ng-repeat="brand in questions.brandsQuestion3">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<select class="form-control arrows"
						ng-model="brand.model"
					    ng-options="likehood.key as likehood.value for likehood in likehoodList">
		    	</select>
		  	</div>

			<p class="medium mt25">How likely are you to recommend the brand to a friend?</p>

			<div class="mt25" ng-repeat="brand in questions.brandsQuestion4">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<select class="form-control arrows"
						ng-model="brand.model"
					    ng-options="likehood.key as likehood.value for likehood in likehoodList">
		    	</select>
			</div>

			<button id="buttonSave" data-trigger-on-header='save' class=" hide btn btn-danger" ng-click="createSurvey()">Save</button>
		</form>
	</div>
</div>
