<needs-permissions provider="{{permissionsProvider}}">
<div class="container edit-view">
	<form name="surveyForm" novalidate>
		<div class="box-container events surveys">
		
			<h5>Demographics</h5>

			<p class="mt20">Gender</p>

			<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="gender in gendersList">
					<input id="{{ $index }}gender" type="radio" ng-model="genderModel.genderSelected" name="gender" value="{{ gender.key }}" required>
			    	<label for="{{ $index }}gender">{{ gender.value }}</label>
				</div>
				<div ng-show="surveyError">
					<span ng-show="surveyForm.gender.$error.required" class="error">You must select a gender</span>
				</div>
			</div>

			<p class="mt25">Race/Ethnicity</p>

			<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="race in racesList">
					<input id="{{ race.key }}" name="race" type="radio" ng-model="raceModel.raceSelected" value="{{ race.key }}" required>
			    	<label for="{{ race.key }}">{{ race.value }}</label>
				</div>
				<div ng-show="surveyError">
					<span ng-show="surveyForm.race.$error.required" class="error">You must select a race</span>
				</div>
			</div>

			<p class="mt25">Age</p>

			<div class="radio-selector">
				<div class="radio clearfix" ng-repeat="age in agesList">
					<input id="{{ age.key }}" type="radio" name="age" ng-model="ageModel.ageSelected" value="{{ age.key }}" required>
			    	<label for="{{ age.key }}">{{ age.value }}</label>
				</div>
				<div ng-show="surveyError">
					<span ng-show="surveyForm.age.$error.required" class="error">You must select a age</span>
				</div>
			</div>

			<p class="mt25">Home Zip Code</p>
			<input type="number" name="zipcode" class="short m10">

			<h5 class="mt48">Competitive awarenes & Usage</h5>
			<p class="medium m10">For each of the following brands, please let us know if you have purchased the product in the last 12 montsh, are aware of the product, or are unaware of the product.</p>

			<ul class="radio-selector table">
				<li>
					<div class="row fl">
						<div class="col-xs-3"></div>
						<div class="col-xs-3">PURCHASED</div>
						<div class="col-xs-3">AWARE</div>
						<div class="col-xs-3">UNAWARE</div>
					</div>
				</li>
				<li ng-repeat="brand in questions.brandsQuestion1">
					<div class="row">
						<div class="col-xs-3 txtAdjust">{{ brand.name }}</div>
						<div class="col-xs-3">
							<input id="{{ $index }}purchased" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.PURCHASED }}" required>
			    			<label for="{{ $index }}purchased">{{ scopic.consts.question_one_options.PURCHASED }}</label>
						</div>
						<div class="col-xs-3">
							<input id="{{ $index }}aware" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.AWARE }}" required>
			    			<label for="{{ $index }}aware">{{ scopic.consts.question_one_options.AWARE }}</label>
						</div>
						<div class="col-xs-3">
							<input id="{{ $index }}unaware" type="radio" ng-model="brand.model" value="{{ scopic.consts.question_one_options.UNAWARE }}" required>
			    			<label for="{{ $index }}unaware">{{ scopic.consts.question_one_options.UNAWARE }}</label>
						</div>
					</div>
				</li>
				<li>
					<div ng-show="true">
						<span ng-show="surveyForm.question1.$error.required" class="error">You should choose a option</span>
					</div>
				</li>
			</ul>

			<p class="medium mt25">For each brand you have used, approximately how much do you spend each month?</p>

			<div class="mt25 clearfix" ng-repeat="brand in questions.brandsQuestion2">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<div class="input-group">
				    <span class="input-group-addon">$</span>
				    <input type="number" id="{{ brand.input_id }}" class="form-control" placeholder="0.00" ng-model="brand.model">
				</div>
			</div>

			<!-- CONVERSION LIKEHOOD -->

			<h5 class="clearfix mt48">Conversion likehood</h5>
			<p class="medium m10">For each of the following brands, please let us know how likely you are to purchase the brand in the next 12 months.</p>

			<div class="mt25" ng-repeat="brand in questions.brandsQuestion3">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<select class="form-control arrows"
						id="{{ brand.input_id }}"
						ng-model="brand.model"
					    ng-options="likehood.key as likehood.value for likehood in likehoodList">
		    	</select>
		  	</div>

			<p class="medium mt25">How likely are you to recommend the brand to a friend?</p>

			<div class="mt25" ng-repeat="brand in questions.brandsQuestion4">
				<label class="short txtAdjust">{{ brand.name }}</label>
				<select class="form-control arrows"
						ng-model="brand.model"
					    ng-options="likehood.key as likehood.value for likehood in likehoodList">
		    	</select>
			</div>

		</div>
		<div class="row footer">
			<button id="buttonSave" ng-show="UserInterface.hasEditSurveyIcon" data-trigger-on-header='edit' class="btn btn-danger" ng-click="editSurvey()">Save</button>
			<button id="buttonSave" ng-show="UserInterface.hasSaveIcon" data-trigger-on-header='save' class="btn btn-danger" ng-click="createSurvey()">Save</button>
		</div>
	</form>
</div>
</needs-permissions>