@singlebutton: 70px;
@dualbutton: 100px;

.swipe-list li{
  overflow: hidden;
}

.row-content{
  float: left;
}
.actions-panel{
  float: right;
}

.single-button{
  &.row{
    width: ~"calc(100% + @{singlebutton})";
  }
  .row-content{
    width: ~"calc(100% - @{singlebutton})";
  }
}
.dual-button{
  &.row{
    width: ~"calc(100% + @{dualbutton})";
  }
  .row-content{
    width: ~"calc(100% - @{dualbutton})";
  }
}

.action-buttons {
  -webkit-transition:margin linear 0.1s;
  -moz-transition:margin linear 0.1s;
  -o-transition:margin linear 0.1s;
  transition:margin linear 0.1s;
  display:block!important;
}
.action-buttons.ng-hide {
  display: block !important;
}

/*-- SINGLE ACTION PANEL STYLES --*/

.single-button.action-buttons{
  margin-left: -@singlebutton !important;
}

.single-button.action-buttons.ng-hide{
  margin-left: 0 !important;
}

/*-- TWO ACTIONS PANEL STYLES --*/

.dual-button.action-buttons{
  margin-left: -@dualbutton !important;
}

.dual-button.action-buttons.ng-hide{
  margin-left: 0 !important;
}

