@singlebutton: 70px;
@dualbutton: 100px;

.swipe-list li{
  overflow: hidden;
}

.row-content{
  float: left;
}
.actions-panel{
  float: right;
}

.single-button{
  &.row{
    width: ~"calc(100% + @{singlebutton})";
  }
  .row-content{
    width: ~"calc(100% - @{singlebutton})";
  }
}
.dual-button{
  &.row{
    width: ~"calc(100% + @{dualbutton})";
  }
  .row-content{
    width: ~"calc(100% - @{dualbutton})";
  }
}

.action-buttons {
  -webkit-transition:margin linear 0.1s;
  -moz-transition:margin linear 0.1s;
  -o-transition:margin linear 0.1s;
  transition:margin linear 0.1s;
  display:block!important;
}
.action-buttons.ng-hide {
  display: block !important;
}

/*-- SINGLE ACTION PANEL STYLES --*/

.single-button.action-buttons{
  margin-left: -@singlebutton !important;
}

.single-button.action-buttons.ng-hide{
  margin-left: 0 !important;
}

/*-- TWO ACTIONS PANEL STYLES --*/

.dual-button.action-buttons{
  margin-left: -@dualbutton !important;
}

.dual-button.action-buttons.ng-hide{
  margin-left: 0 !important;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
  background-color: red;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
