
@import "../bootstrap/less/mixins.less";
@import "navigation.less";
@import "variables.less";
@import "flip.less";

/*-- GENERAL STYLES -------------------------*/

body{
	font-family: @baseFontFamily;
	&.loginLayout{
		background-color: @menu;		
	}
	&.appLayout{
		background-color: @bg;
	}
}

.box-container{
	background-color: white;
	.border-bottom-radius(6px);
	.border-top-radius(6px);
	box-sizing: border-box;
	height: auto;
	margin-bottom: 10px;
	padding: 10px;
	width:100%;
}

/*-- BUTTONS --*/

.btn:focus{
	outline:0;
}

.btn-danger{
	background-color: @buttons;
	border: 0;
	&:hover{
		background-color: @buttons-hover;
	}
}

button{
	&.noButton{
		background-color: transparent;
		border: 0;
		&.backIcon{
			float: left;
			&:before{
				bottom: 6px;
				color: white;
				font-size: 19px;
				left: 0;
			}
		}
		&:hover{
			text-decoration: underline;
		}
	}
}

/*-- LOGIN STYLES --*/

.brand{
	margin-bottom: 30px;
	margin-top: 20px;
	text-align: center;
	img.img-responsive{
		display: inline-block !important;
	}
}

body.login{
	background-color: @menu;
	color: white;
	font-weight: 300;
	a{
		color: #989898;
	}
	.btn{
		height: 40px;
		width: 100%;
	}
	.forgot{
		text-align: center;
		button{
			color: @brand;
		}
	}
	input{
		color: @lightTxt;
		height: 40px;
		padding: 0 10px;
		width: 100%;
		&.email{
			.border-top-radius(6px);
			border:0;
			border-bottom: 1px solid @lightGrey;
			&.rounded{
				.border-top-radius(6px);
				.border-bottom-radius(6px) !important;
				margin-bottom: 10px;
			}
		}
		&.password{
			.border-bottom-radius(6px);
			border: 0;
			margin-bottom: 10px;
		}
	}
	.topLogin{
		background-color: @header;
		box-sizing:border-box;
		color: white;
		height: 55px;
		margin-bottom: 50px;
		padding-top: 18px;
		text-align: center;
	}
}


