/*-- STYLES FOR THE NAVIGATION BAR --*/
.snap-content {
  background: #ebeae6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  padding-top: 46px;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 266px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}
.snapjs-left .snap-drawer-right {
  display: none;
}
.snapjs-expand-left .snap-drawer-left {
  width: 100%;
}
/* HEADER styles */
.navHeader {
  background-color: #363636;
  display: block;
  width: 100%;
  margin-top: -46px;
  position: relative;
  height: 46px;
  float: left;
}
.navHeader.gallery {
  background-color: #252525;
}
.navHeader h1 {
  color: white;
  min-height: 1.4em;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: .6em 10% .8em;
  padding: 3px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0 !important;
}
.navHeader :before {
  color: white;
}
.navHeader .right {
  text-align: right;
  width: 25%;
  float: left;
  padding: 2px 10px 0 0;
  box-sizing: border-box;
}
.navHeader .center {
  float: left;
  text-align: center;
  width: 50%;
}
.navHeader .left {
  text-align: left;
  width: 25%;
  float: left;
  padding: 2px 0 0 10px;
  box-sizing: border-box;
  padding-left: 10px;
}
.navHeader button.noButton {
  height: 44px;
  width: 30px;
}
.navHeader button.noButton.addIcon {
  width: 30px;
}
.navHeader button.noButton.addIcon .fileUpload input.upload {
  width: 40px;
  height: 40px;
}
.navHeader button.noButton.out {
  display: block;
  margin-left: 8px;
}
.navHeader .btn-danger,
.navHeader .btn-group {
  color: white;
  margin-top: 6px;
  height: 28px;
  padding: 0;
  width: 55px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.navHeader .addIcon:before,
.navHeader .delete:before {
  font-size: 27px;
}
.navHeader .menuIcon:before {
  bottom: 1px;
  font-size: 26px;
}
.navHeader .magnifierIcon:before {
  font-size: 24px;
}
.navHeader .backIcon:before {
  font-size: 22px;
}
/* CONTENT STYLES */
.snap-drawer {
  background: #4f4f4f;
  color: #eee;
}
.snap-drawer h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 15px;
}
.snap-drawer h5 {
  color: #989898;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 13px 14px;
}
.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.snap-drawer ul:first-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.snap-drawer ul:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.snap-drawer li > a {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7px 15px 5px;
  font-weight: 400;
  text-decoration: none;
  color: #ececec;
}
.snap-drawer li > a:before {
  color: #ececec;
  font-size: 16px;
  margin-right: 16px;
  margin-bottom: 5px;
}
.snap-drawer li > a:hover {
  background-color: #3d3d3d;
}
/*-- COLOR PALETTE --*/
/* Events Status Color Palette */
/*-- due doesn't have color --*/
/*-- FONT STYLES --*/
a {
  color: #666666;
}
a:hover {
  color: #666666;
  text-decoration: none;
}
a.blue {
  color: #3e9ccf;
  font-weight: 400;
}
a.fullscreen {
  display: block;
  background-color: #989898;
  height: 35px;
  position: absolute;
  top: 90px;
  right: 7px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 35px;
}
a.fullscreen:before {
  content: "\e614";
  color: white;
  left: 5px;
  line-height: 35px;
  font-size: 24px;
}
a.underline {
  text-decoration: underline;
}
p {
  margin-bottom: 0;
}
p.big {
  font-size: 14px;
}
p.medium,
label.medium {
  font-size: 12px;
}
p.small {
  font-size: 11px;
}
p.xs {
  font-size: 10px;
}
.np {
  padding: 0 !important;
}
p.second {
  color: #989898;
}
.blue {
  color: #3e9ccf;
  font-weight: 400;
}
.clearfix {
  clear: both;
}
.txtAdjust {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
h4 {
  font-size: 21px;
}
h5 {
  color: #666666;
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
}
h6 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
/*-- ICON FONTS --*/
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.addIcon:before,
.approved:before,
.backIcon:before,
.commentIcon:before,
.dashboardIcon:before,
.date-data:before,
.deactivate:before,
.delete:before,
.edit:before,
.eventIcon:before,
.female:before,
.fullscreen:before,
.logoutIcon:before,
.magnifierIcon:before,
.mail-data:before,
.male:before,
.menuIcon:before,
.nextIcon:before,
.notificationIcon:before,
.no-campaigns:before,
.no-events:before,
.no-event-team:before,
.no-contacts:before,
.no-expenses:before,
.no-photo:before,
.no-venues:before,
.no-notifications:before,
.no-surveys:before,
.no-comments:before,
.no-surveys:before,
.no-tasks:before,
.no-campaigns:before,
.place-data:before,
.phone-data:before,
.profileIcon:before,
.saveicon:before,
.tasksIcon:before,
.team:before,
.team_member:before,
.type-reset:before,
.time-data:before,
.user-data:before,
.venuesIcon:before {
  font-family: 'icons';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.addIcon:before {
  content: "\e615";
}
.approved:before {
  content: "\e618";
}
.backIcon:before {
  content: "\e60e";
}
.commentIcon:before {
  content: "\e600";
}
.dashboardIcon:before {
  content: "\e602";
}
.deactivate:before,
.type-reset:before {
  content: "\e612";
}
.delete:before {
  content: "\e611";
}
.edit:before {
  content: "\e60c";
}
.eventIcon:before {
  content: "\e605";
}
.female:before {
  content: "\e01b";
  left: -9px;
}
.logoutIcon:before {
  content: "\e601";
}
.magnifierIcon:before {
  content: "\e60f";
}
.male:before {
  content: "\e01a";
  left: 0;
}
.menuIcon:before {
  content: "\e608";
}
.nextIcon:before {
  color: #c0c0c0;
  content: "\e60d";
  font-size: 16px;
  top: 18px;
}
.notificationIcon:before {
  content: "\e607";
}
.profileIcon:before {
  content: "\e606";
}
.saveIcon {
  content: "\e609";
}
.tasksIcon:before {
  content: "\e604";
}
.team:before {
  content: "\e666";
}
.team_member:before {
  content: "\e606";
}
.team_member:before,
.team:before {
  color: #c0c0c0;
  display: block;
  font-size: 22px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.venuesIcon:before {
  content: "\e603";
}
.user-data:before {
  content: "\e606";
  font-size: 17px;
  margin-left: -25px;
}
.date-data:before {
  content: "\e60b";
  font-size: 17px;
  margin-left: -25px;
}
.date-data.late {
  border: 0;
}
.date-data.late:after {
  color: #de4d43;
  content: "LATE";
  font-size: 10px;
  margin-left: 8px;
}
.mail-data:before {
  content: "\e617";
  font-size: 19px;
  left: -25px;
}
.phone-data:before {
  content: "\e616";
  font-size: 17px;
  left: -25px;
}
.place-data:before {
  content: "\e610";
  font-size: 19px;
  left: -23px;
  top: 2px;
}
.time-data:before {
  content: "\e61a";
  float: left;
  font-size: 17px;
  left: -25px;
  top: 2px;
}
.time-data ul {
  display: inline-block;
  width: 100%;
}
.time-data ul li {
  border-bottom: 0 !important;
}
.time-data ul li .day {
  float: left;
  width: 40%;
}
.time-data ul li .hour {
  float: right;
  width: 60%;
}
.date-data,
.place-data,
.phone-data,
.mail-data,
.time-data,
.user-data {
  line-height: 18px;
  margin: 15px 36px;
  min-height: 15px;
  position: relative;
}
.date-data:before,
.place-data:before,
.phone-data:before,
.mail-data:before,
.time-data:before,
.user-data:before {
  color: #c0c0c0;
  position: absolute;
  speak: none;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
/*-- CROSSBROWSER CORRECTIONS --*/
::-webkit-scrollbar {
  display: none;
}
/*-- MARGIN --*/
.m10 {
  margin: 10px 0;
}
.mb10 {
  margin-bottom: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.m25 {
  margin: 25px 0;
}
.mt5 {
  margin-top: 5px !important;
}
.mt25 {
  margin-top: 25px;
}
.mt48 {
  margin-top: 48px;
}
.flip {
  position: relative;
  -webkit-perspective: 800;
  perspective: 800px;
}
.flip.flipped .card {
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}
.flip.flipped[horizontal] .card {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}
.flip[horizontal] .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
/*-- angular ui fix for bootstrap ui -------------------------*/
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
/*-- GENERAL STYLES -------------------------*/
.separated {
  margin-top: 10px;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
:focus {
  outline: 0;
}
.hidden {
  display: none;
}
label {
  clear: both;
  display: block;
  font-weight: normal;
}
label.data {
  color: #989898;
  display: inline-block;
  font-size: 12px;
  padding: 11px 0 8px 4px;
  width: 33%;
  margin-bottom: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
body.loginLayout {
  background-color: #4f4f4f;
  color: white;
}
body.loginLayout .btn {
  width: 100%;
}
body.loginLayout .container {
  padding-left: 30px;
  padding-right: 30px;
}
body.loginLayout .container .row {
  margin: 0;
}
body.appLayout {
  background-color: #ebeae6;
}
body.appLayout .container {
  padding-left: 5px;
  padding-right: 5px;
}
.box-container {
  background-color: white;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-sizing: border-box;
  color: #666666;
  font-size: 14px;
  height: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 9px 12px;
  width: 100%;
}
.box-container.mt5 {
  margin-top: 5px !important;
}
.box-container.dashboard {
  margin-bottom: 4px;
  margin-top: 5px;
}
.box-container.dashboard.details .col-xs-12 {
  margin-bottom: 15px;
}
.box-container.dashboard.details .col-xs-12:last-child {
  margin-bottom: 0;
}
.box-container.dashboard.details .col-xs-12 .chart-bar {
  position: relative;
  display: inline-block;
  height: 33px;
  width: 100%;
}
.box-container.dashboard.details .col-xs-12 p {
  width: 50%;
}
.box-container.dashboard.details .col-xs-12 p.pull-right {
  color: #c0c0c0;
  width: auto;
}
.box-container.dashboard p {
  float: left;
  margin-bottom: 5px;
  width: 91%;
}
.box-container.dashboard .nextIcon:before {
  left: 5px;
}
.box-container.dashboard .row {
  margin: 0;
}
.box-container.events input#eventPlace {
  padding: 0 41px 0 10px;
}
.box-container.events ul.dropdown-menu {
  top: 38px;
}
.box-container.events ul.dropdown-menu > li {
  padding: 2px 8px;
}
.box-container.events ul.dropdown-menu > li:last-of-type {
  border-bottom: 0 !important;
}
.box-container.events ul.dropdown-menu > li:hover {
  background-color: #989898;
  color: white;
}
.box-container.events ul.dropdown-menu > li a {
  margin-left: 15px;
}
.box-container.events ul.dropdown-menu > li ul li {
  border: 0;
}
.box-container.events-list {
  border-radius: 0;
  margin: 0;
}
.box-container.event-description {
  left: 2%;
  right: 2%;
  top: 52px !important;
  z-index: 50;
  position: absolute !important;
  width: auto !important;
}
.box-container.event-description a {
  font-weight: 600;
}
.box-container.event-description h5 {
  font-weight: 600;
  line-height: 26px;
}
.box-container.photos {
  padding: 4px;
}
.box-container.np {
  padding: 0;
}
.box-container.late {
  background-color: #de4d43;
}
.box-container.scheduled {
  background-color: #989898;
}
.box-container.submitted {
  background-color: #3e9ccf;
}
.box-container.late,
.box-container.scheduled,
.box-container.submitted {
  color: white;
  margin-bottom: 8px;
}
.box-container.late a,
.box-container.scheduled a,
.box-container.submitted a {
  color: white;
  text-decoration: underline;
}
.box-container .row {
  margin: 0;
}
.box-container ul {
  margin-bottom: 0;
  padding: 0;
}
.box-container ul li {
  border-bottom: 1px solid #d3d3d3;
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}
.box-container ul li:first-of-type .editpanel,
.box-container ul li:first-of-type .deletepanel {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.box-container ul li:last-of-type .editpanel,
.box-container ul li:last-of-type .deletepanel {
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.box-container ul li .row {
  height: 100%;
}
.box-container ul.companies-list li {
  box-sizing: border-box;
  height: 60px;
}
.box-container ul.companies-list li .row {
  height: auto;
  margin: 14px;
}
.box-container ul.companies-list li .company {
  padding-top: 5px;
}
.box-container ul.companies-list li:last-child {
  border-bottom: 0;
}
.box-container ul.companies-list .col-xs-2 {
  display: hidden;
}
.box-container ul.companies-list .selected .col-xs-2 {
  display: visible;
}
.box-container ul.companies-list .selected .col-xs-2:before {
  content: "\e613";
  font-family: 'icons';
  font-size: 25px;
  left: 25px;
  position: relative;
  display: block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.box-container ul.eventsPeople {
  margin-top: 5px;
}
.box-container ul.eventsPeople li {
  height: 60px;
}
.box-container ul.eventsPeople li:last-child {
  border-bottom: 0;
}
.box-container ul.eventsPeople .team,
.box-container ul.eventsPeople .team_member {
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-right: 10px;
}
.box-container ul.eventsPeople .team h5,
.box-container ul.eventsPeople .team_member h5 {
  line-height: 22px;
}
.box-container ul.eventsPeople .team p,
.box-container ul.eventsPeople .team_member p {
  margin: 0;
}
.box-container ul.eventsPeople.add .row {
  padding: 13px;
}
.box-container ul.list .row {
  margin: 3px 0 3px 2px;
  height: 54px;
}
.box-container ul.venues .row {
  margin: 12px 4px;
}
.box-container ul.venues .row .venuesDescription {
  margin-top: 3px;
  box-sizing: border-box;
  padding-left: 10px;
}
.box-container ul.venues .row .venuesDescription p {
  color: #989898;
}
.box-container ul.venues .nextIcon:before {
  top: 10px;
}
.contacts_search {
  background-color: #c0c0c0;
  height: 44px;
  width: 100%;
}
.contacts_search .container {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.contacts_search input[type="text"].search {
  background: #ffffff url('../images/magnifier.svg') no-repeat left !important;
  margin-top: 8px;
  padding-left: 30px;
  position: relative;
  left: 0;
  top: 0;
  height: 28px;
  border: 0;
  width: 100%;
}
/*-- COMMENTS - EVENTS AND VENUES --*/
.comments .comment-user {
  float: left;
  margin-bottom: 2px;
  width: 70%;
}
.comments .comment-date {
  color: #989898;
  float: right;
  margin-bottom: 5px;
  text-align: right;
  width: 30%;
}
.comments ul li:last-child {
  border-bottom: 0;
}
.comments .comment-short {
  display: block;
  /* Fallback for non-webkit */

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 67.2px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comments .editpanel {
  background-color: white;
  height: 30px;
  padding: 0;
  width: auto;
}
.comments .editpanel a {
  color: #989898;
}
.comments .editpanel a:last-child {
  margin-right: 0;
}
.comments .editpanel a:before {
  font-size: 22px;
}
.new_comment {
  background-color: white;
  box-sizing: border-box;
  height: 50px;
  padding: 7px 0;
  position: fixed;
  width: 100%;
}
.new_comment .btn {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  height: 35px;
  width: 68px;
}
.new_comment .row {
  margin-left: 10px;
  margin-right: 10px;
}
.new_comment input[type="text"] {
  border: 1px solid rgba(192, 192, 192, 0.54);
  height: 35px;
}
/*-- SWIPE EFFECTS - PANELS --*/
.editpanel,
.deletepanel {
  background-color: #c0c0c0;
  box-sizing: border-box;
  float: right;
  height: 60px;
  padding: 13px 5px;
  position: relative;
}
.editpanel button,
.deletepanel button {
  color: white;
  text-align: center;
  width: 45%;
}
.editpanel button:before,
.deletepanel button:before {
  font-size: 25px;
}
.editpanel button:hover,
.deletepanel button:hover {
  text-decoration: none;
}
.deletepanel {
  text-align: center;
  width: 70px;
}
.editpanel {
  padding: 13px 8px 13px 13px;
  width: 99px;
  z-index: 9999;
}
.editpanel a {
  margin: 0 7px 0 6px;
}
/* -- EVENTS SECTION -- */
.events .eventHour {
  color: #666666;
  margin-top: 12px;
}
.events .eventHour p {
  text-align: center;
}
.events .eventHour p:first-child {
  margin: 2px 0;
}
.events .eventHour p:last-child {
  margin: 4px 0;
}
.events .eventHour p:last-child:before {
  content: "\2014";
  display: inline-block;
  font-size: 12px;
  bottom: 12px;
  left: 0;
  position: absolute;
  width: 100%;
  color: #c0c0c0;
}
.events .eventDescription {
  margin-top: 7px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.events .eventDescription p {
  color: #989898;
}
.events.eventDetails div.date-data {
  margin-top: 18px;
  margin-bottom: 30px;
}
.events.eventDetails div.place-data,
.events.eventDetails div.date-data {
  margin-left: 25px;
}
.events.expenses.np {
  margin-bottom: 20px;
}
.events.expenses .margin-expense div p {
  color: #989898;
  font-size: 17px;
  line-height: 35px;
}
.events.expenses .row-content {
  float: none;
}
.events.expenses .expenses-details {
  padding: 10px 0 5px 10px;
  box-sizing: border-box;
}
.events.expenses .expenses-details .input-group {
  width: 100%;
}
.events.expenses .expenses-details .input-group input[type="number"] {
  color: #989898;
  font-size: 16px;
}
.events.expenses .expenses-attach {
  background-color: #dfdfdf;
  color: #c0c0c0;
  height: 163px;
  margin: 5px 5px 5px 0px;
  text-align: center;
}
.events.expenses .expenses-attach p {
  height: 163px;
}
.events.expenses .expenses-attach p:before {
  font-family: 'icons';
  font-size: 75px;
  padding-left: 30px;
  padding-top: 23px;
  line-height: 101px;
  position: relative;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  content: "\e619";
  display: block;
}
.events.expenses ul li:last-child {
  border-bottom: 0;
}
.events.expenses ul li .title p {
  line-height: 52px;
  padding-right: 20px;
}
.events.expenses ul li .expense-price {
  font-size: 14px;
  padding-top: 6px;
  padding-right: 14px;
  text-align: right;
}
.events.expenses ul li .expense-price .blue {
  font-size: 17px;
}
.events.expenses ul li img {
  float: left;
  margin: 1px 10px 0 5px;
  height: 52px;
  width: 50px;
}
.events.expenses .total-price {
  font-size: 22px;
  text-align: right;
}
.events.contactDetails .contact {
  margin: 10px 0 35px 12px;
}
.events.contactDetails .mail-data,
.events.contactDetails .phone-data,
.events.contactDetails .place-data {
  position: relative;
}
.events.data .checkbox-selector input[type=checkbox] + label {
  display: block !important;
  margin: 0;
  padding-left: 38px;
}
.events.data .checkbox-selector input[type=checkbox] + label:before {
  left: 0;
}
.events.data h6 {
  font-size: 14px;
  font-weight: bold;
}
.events.data p {
  margin-bottom: 10px;
}
.events.data .ng-scope {
  margin-top: 10px;
}
.events.data .ng-scope:first-of-type {
  margin-top: 0;
}
.events.data .radio-selector .clearfix {
  margin-top: 0;
}
.events.data textarea {
  color: #666666;
  border: 1px solid #c0c0c0;
  font-size: 12px;
}
.events.data textarea.clean {
  border: 0;
}
.events ul.dropdown-menu {
  box-shadow: none;
  margin-top: 0;
  -webkit-box-shadow: none;
  width: 100%;
}
.events ul.dropdown-menu > .active > a {
  background-color: #989898;
  border-bottom: 0;
  color: white;
}
.events ul.dropdown-menu > li > a {
  color: #666666;
}
.events li .editpanel {
  margin-top: -3px;
}
.events li h5 {
  margin-bottom: 2px;
}
.events label.medium {
  font-size: 13px;
  font-weight: bold;
}
.events .row {
  margin: 0;
}
.events select {
  margin-bottom: 10px;
}
.events.surveys label.short {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  width: 33%;
}
.events.surveys select {
  width: 67%;
}
.events.surveys p {
  color: #989898;
}
.events.surveys li:last-child {
  border-bottom: 0;
}
.events.surveys .input-group input[type="text"] {
  border-left: 0;
}
.events.surveys .editpanel {
  height: 76px;
  padding: 21px 8px 13px 13px;
}
.events.surveys .row-content {
  padding: 10px 14px;
}
.events.tasks .row-content {
  padding-top: 8px;
}
.events.tasks .row-content .complete-task {
  padding-top: 15px;
  text-align: center;
}
.events.tasks .row-content .task-description {
  margin-top: 8px;
}
.events.tasks .row-content .row-inner-content {
  vertical-align: top;
}
.form-control {
  height: 40px;
}
.form-control:focus {
  border: 1px solid #c0c0c0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.full-comment {
  display: block;
  font-size: 12px;
  margin-top: 6px;
}
.full-comment:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3e9ccf;
  content: "";
  display: inline-block;
  margin: 3px 0 0 5px;
  height: 0;
  width: 0;
}
.google-map {
  height: 142px;
  margin-bottom: 5px;
  margin-top: -5px;
  width: 100%;
}
.google-map.fullscreen {
  height: 100%;
  position: absolute;
  z-index: -10;
}
.approve {
  border-left: 4px solid #90bf43;
}
.late {
  border-left: 4px solid #de4d43;
}
.submitted {
  border-left: 4px solid #3e9ccf;
}
.margin-data {
  float: left;
  width: 100%;
  padding: 13px;
}
.margin-expense {
  margin: 8px 0;
}
/*-- NOTIFICATIONS --*/
.notifications {
  margin-top: 5px;
}
.notifications ul li {
  width: 100%;
}
.notifications ul li .row {
  display: table;
  height: 55px;
  margin: 2px 3px;
  width: 100%;
}
.notifications ul li .row div {
  box-sizing: border-box;
  float: none;
  padding-left: 37px;
  padding-right: 10px;
  height: 40px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.notifications ul li .row div p {
  line-height: 16px;
}
.notifications ul li .row div.commentIcon:before,
.notifications ul li .row div.eventIcon:before,
.notifications ul li .row div.tasksIcon:before {
  color: #c0c0c0;
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 14px;
}
/*-- Events list --*/
.container.events-list .dividersBar {
  height: 28px;
  line-height: 34px;
  margin-top: -6px;
}
.container.events-list .dividersBar:before {
  border-radius: 0 0 6px 6px;
  display: block;
  height: 6px;
  width: 100%;
  content: " ";
  background: #fff;
  position: absolute;
}
.box-container.events-list .eventDescription {
  margin-top: 11px;
}
.dividersBar {
  color: #c0c0c0;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: block;
  background: #ebeae6;
}
.dividersBar.big {
  line-height: 28px;
  height: 26px;
  margin-top: 0;
}
.dividersBar.big:first-of-type {
  margin-top: -3px;
}
.dividersBar.big:before,
.dividersBar.big:after {
  display: none;
}
.statusBar + .events-list .dividersBar:before {
  display: none;
}
.statusBar + .pages .events-list:first-child .dividersBar {
  height: 20px;
  line-height: 18px;
  margin-top: 0;
}
.statusBar + .pages .events-list:first-child .dividersBar:before {
  background: transparent;
}
.dividersBar + .box-container.events-list {
  border-top: 0px solid #d3d3d3;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.dividersBar + .events-list .editpanel {
  border-radius: 0 6px 0  0;
}
.dividersBar + .events-list:last-child .editpanel {
  border-radius: 0 6px 0  0;
}
.dividersBar.ng-hide + .events-list .editpanel {
  border-radius: 0px;
}
.events-list:last-child .box-container {
  border-radius: 0 0 6px 6px;
}
.events-list:last-child .box-container .editpanel {
  border-radius: 0 0 6px 0;
}
.box-container.events-list,
.dividersBar.ng-hide + .box-container.events-list {
  border-top: 1px solid #d3d3d3;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/* -- STATUS BAR -- */
.statusBar {
  background-color: white;
  color: #666666;
  height: 60px;
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
.statusBar .container {
  padding: 0 !important;
}
.statusBar .col-xs-2.filter {
  border-right: 1px solid #d3d3d3;
  font-size: 11px;
  height: 60px;
  padding: 6px 0;
  margin: 0;
  text-align: center;
  width: 20%;
}
.statusBar .col-xs-2.filter a .number {
  color: #989898;
  font-size: 23px;
  font-weight: 300;
  font-style: normal;
}
.statusBar .col-xs-2.filter p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.statusBar .col-xs-2.filter.active {
  background-color: #dfdfdf;
}
.statusBar .col-xs-2.filter:last-of-type {
  border-right: 0;
}
.statusBar .row {
  margin: 0 !important;
}
.statusBar.tasks {
  margin-top: -5px;
}
/* -- EVENTS SUBNAV -- */
.subnav {
  background-color: #666666;
  margin-bottom: 5px;
  overflow-x: auto;
  overflow-y: none;
  height: 37px;
  width: 100%;
}
.subnav ul.scrollplane {
  height: 37px;
  width: 165%;
  margin-bottom: 0;
  padding: 0;
}
.subnav ul.scrollplane li {
  display: inline-block;
  height: 37px;
}
.subnav ul.scrollplane li a {
  color: #dfdfdf;
  display: block;
  list-style: none;
  padding: 9px 12px;
}
.subnav ul.scrollplane li:hover,
.subnav ul.scrollplane li.active {
  color: white;
  border-bottom: 3px solid #3e9ccf;
}
.subnav ul.scrollplane.venues {
  margin-top: 0;
  width: 100%;
}
.subnav ul.scrollplane.venues li {
  text-align: center;
  width: 24.6%;
}
.subnav ul.scrollplane.venues li a {
  padding: 9px 5px;
}
.subnav ul.scrollplane.venues li:nth-child(1) {
  width: 20%;
}
.subnav ul.scrollplane.venues li:nth-child(3) {
  width: 22%;
}
.subnav ul.scrollplane.venues li:nth-child(4) {
  width: 30%;
}
/*-- BUTTONS --*/
.btn {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 40px;
}
.btn:focus {
  outline: 0;
}
.btn-default,
a.btn-default {
  background-color: #c0c0c0;
  border: 0;
  color: white;
}
.btn-default:focus,
a.btn-default:focus,
.btn-default:active,
a.btn-default:active {
  background-color: #c0c0c0;
  color: white;
}
.btn-default.approved.complete,
a.btn-default.approved.complete {
  background-color: #90bf43 !important;
}
.btn-default.btn-sm,
a.btn-default.btn-sm {
  margin-right: 5px;
}
.btn-default.btn-sm.approved:before,
a.btn-default.btn-sm.approved:before,
.btn-default.btn-sm.edit:before,
a.btn-default.btn-sm.edit:before,
.btn-default.btn-sm.deactivate:before,
a.btn-default.btn-sm.deactivate:before {
  font-size: 23px;
  bottom: 6px;
  height: 22px;
  width: 90px;
}
.btn-default.btn-sm.add,
a.btn-default.btn-sm.add {
  background-color: white;
  border: 1px solid #dfdfdf;
  color: #c0c0c0;
  font-size: 14px;
  margin-right: 0;
  padding: 5px 16px;
  width: auto;
}
.btn-default:hover,
a.btn-default:hover {
  background-color: #c0c0c0;
  color: white;
}
.ui-menu {
  padding: 0 !important;
}
.ui-menu .ui-menu-item {
  border-bottom: 1px solid #c0c0c0;
}
.ui-menu .ui-menu-item:first-of-type a:hover {
  border-top: 1px solid white !important;
}
.ui-menu .ui-menu-item:last-of-type {
  border-bottom: 1px solid white !important;
}
.ui-menu .ui-menu-item:last-of-type a:hover {
  border-bottom: 1px solid white !important;
}
.ui-menu .ui-menu-item a {
  font-size: 13px !important;
  color: #c0c0c0;
  padding: 7px 10px 7px 11px !important;
}
.ui-menu .ui-menu-item a.category {
  color: #3e9ccf !important;
  font-size: 10px !important;
  text-transform: uppercase;
  padding-top: 11px !important;
}
.ui-menu .ui-menu-item a.category strong {
  font-weight: 300 !important;
}
.ui-menu .ui-menu-item a.category:hover {
  background-color: white !important;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  padding: 11px 10px 7px 12px !important;
}
.ui-menu .ui-menu-item a:hover {
  background-color: #989898;
  background-image: none !important;
  color: white;
  border-radius: 0;
}
.ui-widget-content {
  height: 171px !important;
  overflow: scroll !important;
  padding: 0;
}
.navHeader .btn.btn-danger,
.navHeader .btn.btn-grey {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: white;
  font-size: 13px;
  height: 29px;
  padding: 0;
  margin-top: 6px;
  width: 60px;
}
.navHeader .events_search {
  position: absolute;
  height: 45px;
  top: 0;
  left: 0;
  width: 100%;
}
.navHeader .events_search .typeahead {
  background-color: #363636;
  float: left;
  height: 45px;
  padding: 7px 0 0 15px;
  width: 77%;
}
.navHeader .events_search .typeahead input {
  background: #ffffff url('../images/magnifier.svg') no-repeat left !important;
  border: 0;
  height: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}
.navHeader .events_search .btn-cancel {
  float: right;
  height: 45px;
  text-align: center !important;
  width: 23%;
}
.navHeader .events_search .btn-cancel .btn.btn-grey {
  margin-top: 8px !important;
}
.navHeader ul.dropdown-menu {
  border-bottom: 0;
  box-shadow: none;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  width: 72%;
}
.navHeader ul.dropdown-menu > li {
  border-bottom: 1px solid #dfdfdf;
}
.navHeader ul.dropdown-menu > li ul:first-of-type {
  padding-left: 0;
}
.navHeader ul.dropdown-menu > li ul:first-of-type li {
  border-top: 1px solid #dfdfdf;
}
.navHeader ul.dropdown-menu > li ul:first-of-type li:first-of-type {
  border-top: 0;
  display: none;
}
.navHeader ul.dropdown-menu > li ul:first-of-type li:nth-child(2) {
  border-top: 0;
  text-align: left;
}
.navHeader ul.dropdown-menu > li ul a.category {
  color: #3e9ccf;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  margin: 7px 0 7px 20px;
}
.navHeader ul.dropdown-menu > li ul ul.category-items {
  border-top: 1px solid #dfdfdf;
  padding-left: 0;
  text-align: left;
  list-style: none;
}
.navHeader ul.dropdown-menu > li ul ul.category-items li {
  border-bottom: 0;
  display: table;
  height: 34px;
  width: 100%;
}
.navHeader ul.dropdown-menu > li ul ul.category-items li a {
  color: #c0c0c0;
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
.navHeader ul.dropdown-menu > li ul ul.category-items li:hover {
  background-color: #989898;
}
.navHeader ul.dropdown-menu > li ul ul.category-items li:hover a {
  color: white;
}
.btn-danger {
  background-color: #de4d43;
  border: 0;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: #cc4137;
}
.btn-grey {
  background-color: #989898;
  border: 0;
  color: white;
}
.btn-grey:hover {
  background-color: #989898;
}
.btn-group {
  margin: 8px 0 12px 0;
}
.btn-group .btn {
  height: auto;
  padding: 5px 0;
  width: 100px;
}
.btn-group .btn.btn-default.active {
  background-color: #7a7a7a;
  box-shadow: none;
  color: #ececec;
  -webkit-box-shadow: none;
}
.btn-group .btn.btn-default:hover {
  background-color: #7a7a7a;
}
button.noButton {
  background-color: transparent;
  border: 0;
  padding: 0;
}
button.noButton:hover {
  text-decoration: underline;
}
.centerTxt {
  text-align: center;
}
.edit-area {
  height: 38px;
  text-align: justify;
  margin-bottom: 5px;
  margin-top: 20px;
}
.edit-area:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */

  display: inline-block;
}
.edit-area .btn-sm {
  display: inline-block;
  text-align: center;
  margin-right: 7px;
  padding: 0;
  height: 33px;
  width: 31%;
}
.edit-area .btn-sm.approved:before {
  font-size: 20px;
  bottom: 5px;
}
.edit-area .btn-sm.edit:before,
.edit-area .btn-sm.deactivate:before {
  font-size: 23px;
  bottom: 6px;
}
.edit-area .btn-sm.edit {
  padding-top: 5px;
}
.edit-area .btn-sm:last-child {
  margin-right: 0;
}
.error {
  color: #de4d43;
  font-weight: 400;
}
input[type="text"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"] {
  border: 1px solid #c0c0c0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #666666;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  -webkit-appearance: none;
}
input[type="text"].email,
input[type="number"].email,
input[type="search"].email,
input[type="date"].email,
input[type="time"].email,
input[type="email"].email,
input[type="password"].email {
  border: 0;
  font-weight: 600;
}
input[type="text"].email.not-rounded,
input[type="number"].email.not-rounded,
input[type="search"].email.not-rounded,
input[type="date"].email.not-rounded,
input[type="time"].email.not-rounded,
input[type="email"].email.not-rounded,
input[type="password"].email.not-rounded {
  border-bottom: 1px solid #c0c0c0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-bottom: 0;
}
input[type="text"].password,
input[type="number"].password,
input[type="search"].password,
input[type="date"].password,
input[type="time"].password,
input[type="email"].password,
input[type="password"].password {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border: 0;
  margin-bottom: 10px;
}
input[type="text"].event_start_date,
input[type="number"].event_start_date,
input[type="search"].event_start_date,
input[type="date"].event_start_date,
input[type="time"].event_start_date,
input[type="email"].event_start_date,
input[type="password"].event_start_date,
input[type="text"].event_end_date,
input[type="number"].event_end_date,
input[type="search"].event_end_date,
input[type="date"].event_end_date,
input[type="time"].event_end_date,
input[type="email"].event_end_date,
input[type="password"].event_end_date {
  background: url('../images/calendar.svg') no-repeat left !important;
  box-sizing: border-box;
  text-align: right !important;
  padding-left: 30px;
}
input[type="text"].clean,
input[type="number"].clean,
input[type="search"].clean,
input[type="date"].clean,
input[type="time"].clean,
input[type="email"].clean,
input[type="password"].clean {
  border: 0;
  height: auto;
  margin-bottom: 0;
}
input[type="text"].short,
input[type="number"].short,
input[type="search"].short,
input[type="date"].short,
input[type="time"].short,
input[type="email"].short,
input[type="password"].short {
  width: 60%;
}
.input-group {
  float: left;
  width: 67%;
}
.input-group input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group.form-control:last-child {
  border-left: 0;
}
.input-group-addon {
  background-color: #989898;
  border-color: #989898;
  color: white;
  padding: 6px 15px;
}
.row-inner-content {
  display: inline-block;
}
/*-- RADIO BUTTONS STYLES */
.radio-selector .radio {
  padding: 0;
}
.radio-selector input[type=radio] {
  display: none;
}
.radio-selector input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 38px;
  margin: 5px 15px 5px 0;
  font-size: 13px;
  height: 22px;
}
.radio-selector input[type=radio] + label:before {
  content: "";
  border: 4px solid #c0c0c0;
  display: inline-block;
  border-radius: 18px;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
.radio-selector input[type=radio]:checked + label:before {
  content: "\2022";
  color: #7a7a7a;
  border: 4px solid #7a7a7a;
  font-size: 17px;
  text-align: center;
  line-height: 11px;
}
.radio-selector.table {
  display: inline-table;
}
.radio-selector.table .row {
  margin: 14px 0;
}
.radio-selector.table .row.fl {
  font-size: 12px;
}
.radio-selector.table .row .txtAdjust {
  box-sizing: border-box;
  padding-right: 10px;
}
.radio-selector.table li {
  border: 0;
  display: table-row;
}
.radio-selector.table li div.col-xs-3 {
  display: table-cell;
  text-align: center;
}
.radio-selector.table li div.col-xs-3:first-child {
  text-align: left;
}
.radio-selector.table input[type=radio] + label {
  margin: 0;
  overflow: hidden;
  line-height: 24px;
  width: 1px;
  padding-left: 21px;
}
.radio-selector.table input[type=radio] + label:before {
  width: 21px;
}
/*-- CHECKBOX STYLES --*/
.checkbox-selector .checkbox {
  padding: 0;
}
.checkbox-selector input[type=checkbox] {
  display: none;
}
.checkbox-selector input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 38px;
  margin: 0px 12px 0 5px;
  font-size: 13px;
  padding-top: 7px;
  height: 37px;
}
.checkbox-selector input[type=checkbox] + label:before {
  content: "";
  background-color: #dfdfdf;
  display: inline-block;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  position: absolute;
  left: 12px;
}
.checkbox-selector input[type=checkbox]:checked + label:before {
  content: "\e613";
  font-family: 'icons';
  color: white;
  background-color: #989898;
  font-size: 15px;
  text-align: center;
  line-height: 21px;
}
/*-- RATING STARS FOR COMMENTS --*/
#hide {
  display: none;
}
.rating {
  height: 23px;
}
.rating input {
  position: absolute;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
.rating span:before {
  width: 24px;
  height: 16px;
  line-height: 16px;
  content: "\e623";
  font-size: 15px;
  font-family: 'icons';
  color: #cfc53e;
}
/* Change span immediately following the checked radio */
.rating input:checked + span:before {
  color: #cfc53e;
}
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
.rating input:checked + span ~ span:before {
  content: "\e623";
  font-size: 15px;
  font-family: 'icons';
  color: #c0c0c0;
}
select {
  width: 100%;
}
textarea {
  border: 0;
  color: #c0c0c0;
  min-height: 30px;
  height: auto;
  width: 100%;
}
/*-- LOGIN STYLES --*/
.back p {
  color: white;
  font-weight: 300;
  margin: 40px 0 40px 0;
}
.brand {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}
.brand img.img-responsive {
  display: inline-block !important;
  max-width: 75% !important;
}
.loginLayout a {
  color: #989898;
}
.loginLayout .forgot {
  margin-top: 30px;
  text-align: center;
}
.loginLayout .forgot button {
  color: #989898;
}
.loginLayout .navHeader {
  margin-top: 0;
}
.loginLayout .topLogin {
  background-color: #363636;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  font-size: 16px;
  height: 55px;
  margin-bottom: 40px;
  padding-top: 17px;
  text-align: center;
}
/*-- PROGRESS STYLES --*/
.progress {
  background-color: #ececec;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
}
.progress-bar {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.progress-bar-success {
  background-color: #3e9ccf;
}
.chart-bar {
  position: relative;
  display: inline-block;
  height: 33px;
  width: 91%;
}
.chart-bar .today-line-indicator {
  position: absolute;
  width: 4px;
  background-color: #347a99;
  height: 25px;
  top: -2px;
  border: 1px solid #347a99;
  border-radius: 2px;
}
.chart-bar .today-line-indicator:after {
  color: #c0c0c0;
  content: "Today";
  display: inline-block;
  font-size: 10px;
  top: 23px;
  right: 12px;
  position: absolute;
  width: 100%;
}
.tasks .date-data:before {
  margin-left: -25px;
}
.tasks .checkbox-selector input[type=checkbox] + label {
  float: left;
}
/*-- VENUES STYLES --*/
.venues {
  margin-top: 5px;
}
.venues h5.analysis {
  line-height: 40px;
  padding-left: 35px;
}
.venues .venuesDetails .time-data,
.venues .venuesDetails .place-data {
  margin-left: 25px;
}
.venues .score {
  text-align: center;
}
.venues .score .score-number {
  font-size: 26px;
  font-weight: 300;
}
.venues .score p {
  font-size: 9px;
  line-height: 19px;
}
.venues .score.big {
  margin-top: 5px;
  margin-right: 15px;
}
.venues .score.big .score-number {
  font-size: 33px;
}
.edit-list h5 {
  color: #989898;
}
.edit-list li div {
  padding: 18px 8px;
}
.edit-list li div:first-of-type {
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}
.edit-list li div.time-zone {
  padding: 8px !important;
}
.edit-list li div .error {
  position: absolute;
  top: 34px;
  font-size: 10px;
  left: 18px;
}
.edit-list li div select.form-control {
  margin-top: 6px;
  padding-left: 14px;
}
.edit-list li:last-child {
  border-bottom: 0;
}
.edit-list.tasks div {
  padding: 0;
}
.edit-list.tasks div .user-data:before {
  font-size: 24px;
  margin-right: 19px;
}
.edit-list.tasks div .date-data {
  margin: 10px 28px;
}
.edit-list.tasks div .date-data:before {
  font-size: 22px;
  margin-left: -15px;
  margin-right: 20px;
}
.edit-list.tasks input[type=text],
.edit-list.tasks input[type=date] {
  color: #989898;
  font-size: 17px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.edit-list.tasks input[type=text].user-data,
.edit-list.tasks input[type=date].user-data {
  background: url('../images/user.svg') no-repeat left center;
  margin: 0;
  padding-left: 40px;
}
.edit-list.tasks input[type=text].date-data,
.edit-list.tasks input[type=date].date-data {
  margin: 0;
  padding-left: 18px;
  text-align: left !important;
}
.edit-list.tasks input[type=text].date-data:before,
.edit-list.tasks input[type=date].date-data:before {
  font-size: 26px;
  padding-top: 3px;
}
/*-- STYLE FOR THE SELECTS --*/
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.form-control,
input.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
select.form-control.arrow,
input.form-control.arrow {
  background: url('../images/arrow.svg') no-repeat right !important;
}
select.form-control.arrows,
input.form-control.arrows {
  background: url('../images/arrows.svg') no-repeat right !important;
}
select.form-control option.choose,
input.form-control option.choose {
  color: #c0c0c0;
}
select.form-control.clean,
input.form-control.clean {
  border: 0;
}
select.form-control.clean:focus,
input.form-control.clean:focus {
  border: 0;
}
select.form-control:focus,
input.form-control:focus {
  border-color: #c0c0c0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*-- ANIMATE FOR ANGULAR - STYLES --*/
.animate-enter,
.animate-leave {
  background-color: red;
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}
.animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active {
  left: -100%;
}
/*-- PLACEHOLDER COLORS */
::-webkit-input-placeholder {
  color: #7a7a7a;
  font-weight: 400;
}
:-moz-placeholder {
  /* Firefox 18- */

  color: #7a7a7a;
  font-weight: 400;
}
::-moz-placeholder {
  /* Firefox 19+ */

  color: #7a7a7a;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #7a7a7a;
  font-weight: 400;
}
/*-- Search Placeholder --*/
.placeholder-light::-webkit-input-placeholder {
  color: #c0c0c0;
  font-weight: 400;
}
.placeholder-light:-moz-placeholder {
  /* Firefox 18- */

  color: #c0c0c0;
  font-weight: 400;
}
.placeholder-light::-moz-placeholder {
  /* Firefox 19+ */

  color: #c0c0c0;
  font-weight: 400;
}
.placeholder-light:-ms-input-placeholder {
  color: #c0c0c0;
  font-weight: 400;
}
/*-- Input type Reset --*/
.field-block {
  position: relative;
}
.type-reset {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 2px;
}
.type-reset:before {
  bottom: 2px;
  color: #989898;
  font-size: 20px;
  right: 9px;
}
/*-- File Upload Styles --*/
.fileUpload {
  position: relative;
  overflow: hidden;
  margin-top: 3px;
  margin-right: 2px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 163px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 2;
}
.receipt-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
html {
  min-height: 100%;
  position: relative;
}
/*-- EMPTY STATES STYLES */
.empty {
  bottom: 0;
  color: #c0c0c0;
  left: 0;
  margin: 25% auto 5px auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -43;
}
.empty.notifications h6:last-child {
  position: relative;
}
.empty.people {
  margin: 33% auto;
}
.empty h4 {
  color: #c0c0c0;
  font-weight: 600;
  padding-bottom: 18px;
}
.empty h6:last-child {
  bottom: 0;
  font-weight: 600;
  width: 100%;
  position: fixed;
  margin-bottom: 50px;
  line-height: 21px;
}
.empty span:before {
  color: #c0c0c0;
}
.empty .glyphicon-plus:before {
  content: "\e615";
  font-family: 'icons';
  font-size: 13px;
  font-weight: bolder;
}
.empty .glyphicon {
  top: -1px !important;
}
.no-comments:before {
  content: "\e61f";
  font-size: 97px;
  left: 8px;
  top: 20px;
}
.no-contacts:before {
  content: "\e61e";
  font-size: 87px;
  left: 4px;
  padding-bottom: 4px;
  top: 9px;
}
.no-event-team:before {
  content: "\e61c";
  left: 10px;
  top: 20px;
  font-size: 90px;
}
.no-photo:before {
  content: "\e622";
  font-size: 45px;
}
.no-expenses:before {
  content: "\e619";
  font-size: 90px;
  left: 20px;
}
.no-notifications:before {
  content: "\e621";
  font-size: 90px;
  left: 20px;
}
.no-photo:before {
  content: "\e622";
  font-size: 88px;
  left: 8px;
}
.no-surveys:before {
  content: "\e60a";
  font-size: 90px;
  left: 12px;
}
.no-tasks:before {
  content: "\e623";
  font-size: 40px;
}
.no-campaigns:before {
  content: "\e61d";
  font-size: 88px;
  left: 10px;
}
.no-tasks:before {
  content: "\e620";
  font-size: 88px;
  left: 7px;
}
.no-venues:before {
  content: "\e624";
  font-size: 94px;
  left: 26px;
}
.no-events:before {
  content: "\e61b";
  font-size: 88px;
  left: 7px;
}
/*-- DEMOGRAPHICS --*/
.age-graph {
  height: 190px;
}
ul.stats {
  margin: 25px auto;
}
ul.stats li {
  border-bottom: 0;
  text-align: center;
  margin: 10px auto;
}
ul.stats li .number {
  color: #3e9ccf;
  line-height: 14px;
  font-size: 14px;
  margin-right: 10px;
}
ul.stats li .category {
  font-size: 11px;
}
ul.stats li .number,
ul.stats li .category {
  display: inline-block;
  text-align: center;
  width: auto;
}
ul.stats li div:first-child {
  box-sizing: border-box;
  text-align: right;
  padding-right: 5px;
}
ul.stats li div:last-child {
  text-align: left;
  box-sizing: border-box;
  padding-left: 5px;
}
ul.stats li .progress {
  display: inline-block;
  height: 11px;
  width: 100px;
  padding-left: 0 !important;
}
ul.stats.simple .number {
  margin-right: 0;
}
.sex {
  position: relative;
  margin: 15px 10px 0 !important;
}
.female,
.male {
  box-sizing: border-box;
  position: relative;
  padding-left: 10%;
}
.female:before,
.male:before {
  font-size: 60px;
  position: absolute;
  bottom: -9px;
}
.female .percent,
.male .percent {
  font-size: 34px;
  font-weight: 400;
  line-height: 43px;
}
.lastItem {
  border-bottom: 0 !important;
}
