
@import "../bootstrap/less/mixins.less";
@import "navigation.less";
@import "variables.less";
@import "flip.less";

/*-- angular ui fix for bootstrap ui -------------------------*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*-- GENERAL STYLES -------------------------*/

.separated{
	margin-top: 10px;
}

.btn:active{
	-webkit-box-shadow: none;
	box-shadow: none;
}

:focus{
	outline:0;
}

.hidden{
	display:none;
}

label{
	clear: both;
	display: block;
	font-weight: normal;
	&.data{
		color: @brand;
		display: inline-block;
		font-size: 12px;
		padding: 11px 0 8px 4px;
		width: 33%;
		margin-bottom: 0;
	}
}

body{
	font-family: @baseFontFamily;
	font-size: 13px;
	font-weight: 400;
	&.loginLayout{
		background-color: @menu;
		color: white;
		.btn{
			width: 100%;
		}
		.container{
			padding-left: 30px;
			padding-right: 30px;
			.row{
				margin: 0;
			}
		}
	}
	&.appLayout{
		background-color: @bg;
		.container{
			padding-left: 5px;
			padding-right: 5px
		}
	}
}

.box-container{
	background-color: white;
	.border-bottom-radius(6px);
	.border-top-radius(6px);
	box-sizing: border-box;
	color: @txt;
	font-size: 14px;
	height: auto;
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 9px 12px;
	width:100%;

	&.dashboard{
		margin-bottom: 4px;
		margin-top: 5px;
		&.details{
			.col-xs-12{
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
				.chart-bar{
					position: relative;
					display: inline-block;
					height: 33px;
					width: 100%;
				}
				p{
					width:50%;
					&.pull-right{
						color: @lightGrey;
						width:auto;
					}
				}
			}
		}
		p{
			float: left;
			margin-bottom: 5px;
			width:91%;
		}
		.nextIcon:before{
			left:5px;
		}
		.row{
			margin: 0;
		}
	}

	&.event-description{
		left:2%;
		right: 2%;
		top: 52px !important;
		z-index: 50;
		position: absolute !important;
		width: auto !important;
		a{
			font-weight: 600;
		}
		h5{
			font-weight: 600;
			line-height: 26px;
		}
	}

	&.photos{
		padding: 4px;
	}

	&.np{
		padding: 0;
	}
	&.late{
		background-color: @buttons;
	}
	&.scheduled{
		background-color: @brand;
	}
	&.submitted{
		background-color: @submitted;
	}
	&.late, &.scheduled, &.submitted{
		color: white;
		margin-bottom: 8px;
		a{
			color: white;
			text-decoration: underline;
		}
	}

	.row{
		margin: 0;
	}

	ul{
		margin-bottom: 0;
		padding: 0;
		li{
			border-bottom: 1px solid @borders;
			box-sizing: border-box;
			list-style: none;
			overflow: hidden;
			&:first-of-type{
				.editpanel, .deletepanel{
					-webkit-border-top-right-radius: 6px;
					-moz-border-radius-topright: 6px;
					border-top-right-radius: 6px;
				}
			}
			&:last-of-type{
				.editpanel, .deletepanel{
					-webkit-border-bottom-right-radius: 6px;
					-moz-border-radius-bottomright: 6px;
					border-bottom-right-radius: 6px;
				}
			}
			.row{
				height: 100%;
			}
			&.lastItem, &:last-child{
				border-bottom: 0;
			}
		}
		&.companies-list{
			li{
				box-sizing:border-box;
				height: 60px;
				.row{
					height: auto;
					margin: 14px;
				}
				.company{
					padding-top: 5px;
				}
			}
			.col-xs-2{
				display: hidden;
			}
			.selected{
				.col-xs-2{
					display: visible;
					&:before{
						content:"\e613";
					  font-family: 'icons';
					  font-size: 25px;
					  left: 25px;
					  position: relative;
					  display: block;
					  vertical-align: middle;
					  -webkit-font-smoothing: antialiased;
					}
				}
			}
		}
		&.eventsPeople{
			li{
				height: 60px;
			}
	  	li:last-child{
	  		border-bottom: 0;
	  	}
			.team, .team_member{
			  position: relative;
			  padding-left: 50px;
			  padding-top: 10px;
			  padding-right: 10px;
			  h5{
			   	line-height: 22px;
			  }
			  p{
			  	margin: 0;
			  }
		  }
		  &.add .row{
		  	padding: 13px;
		  }
		}
		&.list{
			.row{
				margin: 3px 0 3px 2px;
				height: 54px;
			}
		}
		&.venues{
			.row{
				margin: 12px 4px;
				.venuesDescription{
					margin-top: 3px;
					box-sizing: border-box;
					padding-left: 10px;
					p{
						color: @brand;
					}
				}
			}
			.nextIcon:before{
				top: 10px;
			}
		}
	}
}

.dividersBar{
	color: @lightGrey;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	&.big{
		padding: 7px 0;
	}
}

/*-- COMMENTS - EVENTS AND VENUES --*/

.comments{
	.comment-user{
		float: left;
		margin-bottom: 6px;
		width:70%;
	}
	.comment-date{
		color: @brand;
		float: right;
		text-align: right;
		width: 30%;
	}
	ul li:last-child{
		border-bottom: 0;
	}
	.comment-short{
	  display: block; /* Fallback for non-webkit */
	  display: -webkit-box;
	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;
	  height: 67.2px;
	  margin-top: 8px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.editpanel{
		background-color: white;
		height: 30px;
		padding: 0;
		width: auto;
		a{
			color: @brand;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				font-size: 22px;
			}
		}
	}
}

.new_comment{
	background-color: white;
	box-sizing:border-box;
	height: 50px;
	padding: 7px 0;
	position: fixed;
	width: 100%;
	.btn{
		background-color: #c0c0c0;
		border: 1px solid #c0c0c0;
		height: 35px;
		width: 68px;
	}
	.row{
		margin-left: 10px;
		margin-right: 10px;
	}
	input[type="text"]{
		border: 1px solid rgba(192, 192, 192, 0.54);
		height: 35px;
	}
}

/*-- SWIPE EFFECTS - PANELS --*/

.editpanel, .deletepanel{
	background-color: @lightGrey;
	box-sizing: border-box;
	float: right;
	height: 60px;
	padding:13px 5px;
	position: relative;
	a{
		color:white;
		text-align: center;
		width: 50%;
		&:before{
			font-size: 25px;
		}
		&:hover{
			text-decoration: none;
		}
	}
}

.deletepanel{
	text-align: center;
	width: 70px;
}

.editpanel{
	padding: 13px 8px 13px 13px;
	width: 99px;
	a{
		margin: 0 7px 0 6px
	}
}

/* -- EVENTS SECTION -- */

.events{
	.eventHour{
		color: @txt;
		margin-top: 9px;
		p{
			text-align: center;
			&:first-child{
				margin: 2px 0;
			}
			&:last-child{
				margin: 4px 0;
			}
			&:last-child:before{
				content:"\2014";
				display: inline-block;
				font-size: 12px;
				bottom: 12px;
				left: 0;
				position: absolute;
				width: 100%;
				color: @lightGrey;
			}
		}
	}
	.eventDescription{
		margin-top: 7px;
		box-sizing:border-box;
		padding-left: 10px;
		p{
			color: @brand;
		}
	}
	&.eventDetails{
		div:first-of-type{
			margin: 18px 28px 30px 28px;
		}
	}
	&.expenses{
		margin-bottom: 20px;
		.margin-expense{
			div p{
				color: @brand;
				font-size: 17px;
				line-height: 35px;
			}
		}
		.expenses-details{
			padding: 10px 0 5px 10px;
			box-sizing: border-box;
			.input-group{
				width: 100%;
				input[type="number"]{
					color: @brand;
					font-size:16px;
				}
			}
		}
		.expenses-attach{
			background-color: @listHover;
			color: @lightGrey;
			height: 163px;
			margin: 5px 5px 5px 0px;
			text-align: center;
			p{
				height: 163px;
				&:before{
					font-family: 'icons';
					font-size: 75px;
					padding-left: 30px;
					padding-top: 23px;
					line-height: 101px;
					position: relative;
					vertical-align: middle;
					-webkit-font-smoothing: antialiased;
					content: "\e619";
					display: block;
				}
			}
		}
		ul{
			li{
				&:last-child{
					border-bottom: 0;
				}
				.title p{
					line-height: 52px;
				}
				.expense-price{
					font-size: 14px;
					padding-top: 6px;
					padding-right: 14px;
					text-align: right;
					.blue{
						font-size: 17px;
					}
				}
				img{
					float: left;
					margin: 1px 10px 0 5px;
					height: 52px;
					width: 50px;
				}
			}
		}
		.total-price{
			font-size: 22px;
			text-align: right;
		}
	}
	&.contactDetails{
		div:first-of-type{
			margin-top: 35px;
		}
		.place-data{
			&:before{
				margin-left: -22px;
			}
		}
	}
	&.data{
		.clearfix{
			&:first-of-type{
				margin-top:15px;
			}
		}
		h5{
			margin-bottom: 5px;
		}
	}
	ul.dropdown-menu{
		box-shadow:none;
		margin-top:0;
		-webkit-box-shadow:none;
		width: 100%;
		&> .active > a{
			background-color: @brand;
			border-bottom: 0;
			color: white;
		}
		&> li > a{
			color: @txt;
		}
	}
	li{
		.editpanel{
			margin-top: -3px;
		}
		h5{
			margin-bottom: 2px;
		}
	}
	&.surveys{
		label.short{
			float: left;
			padding-right: 10px;
			padding-top: 10px;
			width: 33%;
		}
		select{
			width: 67%;
		}
		p{
			color: @brand;
		}
		li:last-child{
			border-bottom: 0;
		}
		.input-group{
			input[type="text"]{
				border-left: 0;
			}
		}
		.editpanel{
			height: 76px;
			padding: 21px 8px 13px 13px;
		}
		.row-content{
			padding: 10px 14px;
		}
	}
	&.tasks{
		.row-content{
			padding-top: 8px;
			.complete-task{
				padding-top: 15px;
				text-align: center;
			}
			.task-description{
				margin-top: 8px;
			}
			.row-inner-content{
				vertical-align: top;
			}
		}
	}
}

.form-control{
	height: 40px;
	//.border-bottom-radius(6px);
	//.border-top-radius(6px);
	&:focus{
		border: 1px solid #c0c0c0;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

.full-comment{
	display: block;
	font-size: 12px;
	margin-top: 6px;
	&:after{
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid @blue;
		content: "";
		display: inline-block;
		margin: 3px 0 0 5px;
		height: 0;
		width: 0;
	}
}

.google-map{
	height: 142px;
	margin-bottom: 5px;
	margin-top: -5px;
	width: 100%;
	&.fullscreen{
		height: 100%;
		position: absolute;
		z-index: -10;
	}
}

.late {
	border-left: 4px solid @late;
}
.submitted {
	border-left: 4px solid @submitted;
}

.searchBar{
	background-color: @lightGrey;
	box-sizing: border-box;
	height: 45px;
	padding: 8px;
	input{
		height: 28px;
	}
}

.margin-data{
	float: left;
	width: 100%;
	padding: 13px;
}

.margin-expense{
	margin: 8px 0;
}

/* -- STATUS BAR -- */

.statusBar{
	background-color: white;
	color: @txt;
	height: 60px;
	float: left;
	width: 100%;
	margin-bottom: 3px;
	.container{
		padding: 0 !important;
	}
	.col-xs-2.filter {
		border-right: 1px solid @borders;
		font-size: 11px;
		height: 60px;
		padding: 6px 0;
		margin: 0;
		text-align: center;
		width: 20%;
		a{
			.number{
				color: @brand;
				font-size: 23px;
				font-weight: 300;
				font-style: normal;
			}
		}
		p{
			font-size: 10px;
			font-weight: bold;
			margin-bottom: 4px;
			text-transform: uppercase;
			letter-spacing: -0.2px;
		}
		&.active{
			background-color: @listHover;
		}
		&:last-of-type{
			border-right: 0;
		}
	}
	.row{
		margin: 0 !important;
	}
	&.tasks{
		margin-top: -5px;
	}
}

/* -- EVENTS SUBNAV -- */

.subnav{
	background-color: @txt;
	margin-bottom: 5px;
  overflow-x: auto;
  overflow-y: none;
  height: 37px;
  width: 100%;
	ul.scrollplane{
		height: 37px; // less than scroll container
		width: 165%; // greater than scroll container;
		margin-bottom: 0;
		padding: 0;
		li{
			display: inline-block;
			height: 37px;
			a{
				color:@listHover;
				display: block;
				list-style: none;
				padding: 9px 12px;
			}
			&:hover, &.active{
				color:white;
				border-bottom: 3px solid @blue;
			}
		}
		&.venues{
			margin-top: 0;
			width: 100%;
			li{
				text-align: center;
				width: 24.6%;
				a{
					padding: 9px 5px;
				}
				&:nth-child(1){
					width: 20%;
				}
				&:nth-child(3){
					width: 22%;
				}
				&:nth-child(4){
					width: 30%;
				}
			}
		}
	}
}

/*-- BUTTONS --*/

.btn{
	.border-bottom-radius(6px);
	.border-top-radius(6px);
	height: 40px;
}

.btn:focus{
	outline:0;
}

.btn-default, a.btn-default{
	background-color: @lightGrey;
	border: 0;
	color: white;
	&:focus, &:active{
		background-color: @lightGrey;
		color: white;
	}
	&.approved{
		&.complete{
			background-color: @approved !important;
		}
	}
	&.btn-sm{
		margin-right: 5px;
		&.approved:before, &.edit:before, &.deactivate:before{
			font-size: 23px;
			bottom: 6px;
			height: 22px;
			width: 90px;
		}
		&.add{
			background-color: white;
			border: 1px solid @listHover;
			color: @lightGrey;
			font-size: 14px;
			margin-right: 0;
			padding: 5px 16px;
			width: auto;
		}
	}
	&:hover{
		background-color: @lightGrey;
		color: white;
	}
}

.btn-danger{
	background-color: @buttons;
	border: 0;
	font-weight:bold;
	&:hover{
		background-color: @buttons-hover;
	}
}

.btn-cancel{
	background-color: @brand;
	border: 0;
	&:hover{
		background-color: @brand;
	}
}

.btn-group{
	margin: 8px 0 12px 0;
	.btn{
		height: auto;
		padding: 5px 0;
		width: 100px;
		&.btn-default{
			&.active{
				background-color: @lightTxt;
				box-shadow: none;
				color: @menuTxt;
				-webkit-box-shadow: none;
			}
			&:hover{
				background-color: @lightTxt;
			}
		}
	}
}

button{
	&.noButton{
		background-color: transparent;
		border: 0;
		padding: 0;
		&:hover{
			text-decoration: underline;
		}
	}
}

.centerTxt{
	text-align: center;
}

.edit-area{
	height: 38px;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 20px;
	&:after{
	  content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
	}
	.btn-sm{
		display: inline-block;
		text-align: center;
		margin-right: 7px;
		padding: 0;
		height: 33px;
		width: 31%;
		&.approved:before{
			font-size: 20px;
			bottom: 5px;
		}
		&.edit:before, &.deactivate:before{
			font-size: 23px;
			bottom: 6px;
		}
		&.edit{
			padding-top:5px;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}

.error{
	color: @buttons;
	font-weight: 400;
}

input[type="text"], input[type="number"], input[type="search"], input[type="date"], input[type="time"], input[type="email"], input[type="password"]{
	border: 1px solid @lightGrey;
	.border-top-radius(6px);
	.border-bottom-radius(6px);
	color: @txt;
	height: 40px;
	margin-bottom: 10px;
	padding: 0 10px;
	width: 100%;
	-webkit-appearance: none;
	&.email{
		border:0;
		font-weight: 600;
		&.not-rounded{
			border-bottom: 1px solid @lightGrey;
			.border-top-radius(6px);
			.border-bottom-radius(0px) !important;
			margin-bottom: 0;
		}
	}
	&.password{
		.border-bottom-radius(6px);
		.border-top-radius(0px);
		border: 0;
		margin-bottom: 10px;
	}
	&.event_start_date, &.event_end_date{
		background: url('../images/calendar.svg') no-repeat left !important;
		box-sizing: border-box;
		text-align: right !important;
		padding-left: 30px;
	}
	&.clean{
		border: 0;
		height:auto;
		margin-bottom: 0;
	}
	&.short{
		width: 60%;
	}
}

.input-group{
	float: left;
	width: 67%;
	input{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&.form-control:last-child{
		border-left: 0;
	}
}
.input-group-addon{
	background-color: @brand;
	border-color: @brand;
	color: white;
	padding: 6px 15px;
}

.row-inner-content{
  display: inline-block;
}

/*-- RADIO BUTTONS STYLES */

.radio-selector{
	.radio{
		padding: 0;
	}
	input[type=radio] {
	    display: none;
	}
	input[type=radio] + label {
	  display: inline-block;
	  cursor: pointer;
	  position: relative;
	  padding-left: 38px;
	  margin: 5px 15px 5px 0;
	  font-size: 13px;
	  height: 22px;
	}

	input[type=radio] + label:before {
	  content: "";
	  border: 4px solid @lightGrey;
	  display: inline-block;
	  border-radius: 18px;

	  width: 21px;
	  height: 21px;

	  margin-right: 10px;
	  position: absolute;
	  left: 0;
	}

	input[type=radio]:checked + label:before {
	  content: "\2022";
		color: @lightTxt;
		border: 4px solid @lightTxt;
		font-size: 17px;
		text-align: center;
		line-height: 11px;
	}
	&.table{
		display: inline-table;
		.row{
			margin: 14px 0;
			&.fl{
				font-size: 12px;
			}
			.txtAdjust{
				box-sizing:border-box;
				padding-right: 10px;
			}
		}
	  li{
	  	border: 0;
	  	display: table-row;
	  	div.col-xs-3{
	  		display: table-cell;
	  		text-align: center;
	  		&:first-child{
	  			text-align: left;
	  		}
	  	}
	  }
		input[type=radio] + label {
			margin: 0;
			overflow: hidden;
			line-height: 24px;
			width: 1px;
			padding-left: 21px;
			&:before{
				width: 21px;
			}
		}
	}
}

/*-- CHECKBOX STYLES --*/

.checkbox-selector{
	.checkbox{
		padding: 0;
	}
	input[type=checkbox] {
	    display: none;
	}
	input[type=checkbox] + label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: 38px;
		margin: 0px 12px 0 5px;
		font-size: 13px;
		padding-top: 7px;
		height: 37px;
	}

	input[type=checkbox] + label:before {
	  content: "";
	  background-color: @listHover;
	  display: inline-block;
  	.border-top-radius(6px);
		.border-bottom-radius(6px);

	  width: 21px;
	  height: 21px;

	  margin-right: 10px;
	  position: absolute;
	  left: 12px;
	}


	input[type=checkbox]:checked + label:before {
	  content: "\e613";
	  font-family: 'icons';
		color: white;
		background-color: @brand;
		font-size: 15px;
		text-align: center;
		line-height: 21px;
	}
}


/*-- RATING STARS FOR COMMENTS --*/

.rating {
    float:left;
    label{
    	clear:none;
    	margin: 5px 0;
    }
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1.2em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:85%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
}



select{
	width: 100%;
}

textarea{
	border: 0;
	color: @lightGrey;
	min-height: 30px;
	height: auto;
	width: 100%;
}

/*-- LOGIN STYLES --*/

.back{
	p{
		color:white;
		font-weight: 300;
		margin: 40px 0 40px 0;
	}
}

.brand{
	margin-bottom: 30px;
	margin-top: 20px;
	text-align: center;
	img.img-responsive{
		display: inline-block !important;
		max-width: 75% !important;
	}
}

.loginLayout{
	a{
		color: #989898;
	}
	.forgot{
		margin-top: 30px;
		text-align: center;
		button{
			color: @brand;
		}
	}
	.navHeader{
		margin-top: 0;
	}
	.topLogin{
		background-color: @header;
		box-sizing:border-box;
		color: white;
		font-weight: 400;
		font-size: 16px;
		height: 55px;
		margin-bottom: 40px;
		padding-top: 17px;
		text-align: center;
	}
}

/*-- MARGIN --*/

.m10{
	margin: 10px 0;
}

.mt15{
	margin-top:15px;
}

.mt20{
	margin-top: 20px;
}

.m25{
	margin: 25px 0;
}

.mt5{
	margin-top: 5px;
}

.mt25{
	margin-top: 25px;
}

.mt48{
	margin-top: 48px;
}

/*-- PROGRESS STYLES --*/

.progress{
	background-color: @menuTxt;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}

.progress-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.progress-bar-success{
	background-color: @blue;
}

.chart-bar{
	position: relative;
	display: inline-block;
	height: 33px;
	width: 91%;
	.today-line-indicator{
		position: absolute;
		width: 4px;
		background-color: #347a99;
		height: 25px;
		top: -2px;
		border: 1px solid #347a99;
		border-radius: 2px;
		&:after{
			color: @lightGrey;
			content:"Today";
			display: inline-block;
			font-size: 10px;
			top: 23px;
			right: 12px;
			position: absolute;
			width: 100%;
		}
	}
}

.tasks{
	.date-data:before{
		margin-left: -25px;
	}
}

/*-- VENUES STYLES --*/

.venues{
	margin-top: 5px;
	h5.analysis{
		line-height: 40px;
		padding-left: 35px;
	}
	.score{
		text-align: center;
		.score-number{
			font-size: 26px;
			font-weight: 100;
		}
		p{
			font-size: 9px;
			line-height: 19px;
		}
		&.big{
			margin-top: 5px;
			margin-right: 15px;
			.score-number{
				font-size: 33px;
			}
		}
	}
	ul.stats{
		margin: 25px auto;
		li{
			border-bottom: 0;
			text-align: center;
			margin: 10px auto;
			.number{
				color: @blue;
				text-align: right;
				width: 42%;
				line-height: 14px;
				font-size: 14px;
			}
			.category{
				font-size: 11px;
				text-align: left;
				width: 55%;
			}
		}
	}
}

.edit-list{
	h5{
		color: @brand;
	}
	li{
		div{
			padding: 18px 8px;
			&:first-of-type{
				font-size: 10px;
				font-weight: 600;
				line-height: 20px;
			}
		}
		&:last-child{
			border-bottom: 0;
		}
	}
	&.tasks{
		div{
			padding: 0;
			.user-data:before{
				font-size: 24px;
				margin-right: 19px;
			}
			.date-data{
				margin: 10px 28px;
				&:before{
					font-size: 22px;
					margin-left: -15px;
					margin-right: 20px;
				}
			}
		}
		input[type=text], input[type=date]{
			color: @brand;
			font-size: 17px;
			margin-bottom: 0;
			padding-left: 5px;
			padding-right: 5px;
			&.user-data{
				background:url('../images/user.svg') no-repeat left center;
				margin: 0;
				padding-left: 40px;
			}
			&.date-data{
				margin: 0;
				padding-left: 18px;
				text-align: left !important;
				&:before{
					font-size: 26px;
					padding-top: 3px;
				}
			}
		}
	}
}


/*-- STYLE FOR THE SELECTS --*/

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	&.form-control{
		box-shadow: none;
		-webkit-box-shadow: none;
		option{
			&.choose{
				color:@lightGrey;
			}
		}

		&:focus{
			border-color:@lightGrey;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow:none;
		}
	}
}

select option[default] {
    color: red;
}

/*-- ANIMATE FOR ANGULAR - STYLES --*/

.animate-enter,
.animate-leave
{
	background-color: red;
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}


/*-- PLACEHOLDER COLORS */

::-webkit-input-placeholder {
   color: @lightTxt;
   font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
   color: @lightTxt;
   font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @lightTxt;
   font-weight: 400;
}

:-ms-input-placeholder {
   color: @lightTxt;
   font-weight: 400;
}

/*-- Input type Reset --*/

.field-block{
  position: relative;
}
.type-reset {
	cursor: pointer;
  position: absolute;
	top: 8px;
	right: 2px;
  &:before{
  	bottom: 2px;
  	color: @brand;
  	font-size: 20px;
		right: 9px;
  }
}

/*-- File Upload Styles --*/

.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 163px;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

html{min-height:100%;position:relative}


/*-- EMPTY STATES STYLES */

.empty{
	bottom: 0;
	color: #c0c0c0;
	height: 100%;
	left: 0;
	margin: 25% auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: -43;
	&.notifications{
		h6:last-child{
			position: relative;
		}
	}
	&.people{
		margin: 33% auto;
	}
	h4{
		color: @lightGrey;
		font-weight: 600;
		padding-bottom: 18px;
	}
	h6:last-child{
		bottom: 0;
		font-weight: 600;
		width: 100%;
		position: fixed;
		margin-bottom: 50px;
		line-height: 21px;
	}
	span:before{
		color:@lightGrey;
	}
	.glyphicon-plus:before{
		content:"\e615";
		font-family: 'icons';
		font-size: 13px;
		font-weight: bolder;
	}
	.glyphicon{
		top:-1px !important;
	}
}

.no-comments:before{
	content: "\e61f";
	font-size: 97px;
	left: 8px;
	top: 20px;
}

.no-contacts:before{
	content: "\e61e";
	font-size: 87px;
	left: 4px;
	padding-bottom: 4px;
	top: 9px;
}

.no-event-team:before{
	content: "\e61c";
	left: 10px;
	top: 20px;
	font-size: 90px;
}

.no-photo:before{
	content:"\e622";
	font-size: 45px;
}

.no-expenses:before{
	content: "\e619";
	font-size: 90px;
	left: 20px;
}

.no-notifications:before{
	content:"\e621";
	font-size: 90px;
	left: 20px;
}

.no-photo:before{
	content: "\e622";
	font-size: 88px;
	left: 8px;
}

.no-surveys:before{
	content: "\e60a";
	font-size: 90px;
	left: 12px;
}

.no-tasks:before{
	content:"\e623";
	font-size: 40px;
}

.no-campaigns:before{
	content: "\e61d";
	font-size: 88px;
	left: 10px;
}

.no-tasks:before{
	content: "\e620";
	font-size: 88px;
	left: 7px;
}

.no-venues:before{
	content: "\e624";
	font-size: 94px;
	left: 26px;
}

.no-events:before{
	content:"\e61b";
	font-size: 88px;
	left: 7px;
}








