
/*-- STYLES FOR THE NAVIGATION BAR --*/

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right {
  display: none;
}

.snapjs-expand-left .snap-drawer-left {
  width: 100%;
}


/* HEADER styles */

header {
  background: @header;
  border-bottom: 1px solid #111b32;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 50px;
  h1{
	  color: #fff;
	  font-size: 16px;
	  height: 44px;
	  line-height: 22px;
	  left: 44px;
	  margin-top: 15px;
	  position: absolute;
	  right: 44px;
	  text-align: center;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	  top: 0;
	  width: auto; 	
  }
}

#open-left {
  display: block;
  width: 44px;
  height: 44px;
  &:before{
  	color: white;
		content:"\e600";
		font-size: 18px;
		left: 15px !important;
		top: 13px;
  }
}

/* Show the red "No Drag" box in the demo */
#no-drag,
#do-drag {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100px;
	margin-left: -25%;
	margin-top: -50px;
	background: red;
	color: #FFF;
	text-align: center;
	line-height: 100px;
}
#do-drag{
	background: green;
}

/* CONTENT STYLES */

.snap-content {
  background: @bg;
  padding-top: 44px;
}

.snap-drawers {
  background: @menu;
}

.snap-drawer {
	background: @menu;
	color: #eee;
	h3{
	  font-size: 36px;
	  font-weight: normal;
	  margin: 15px;		
	}
	h4{
		color: @brand;
	  margin-bottom: 0;	
	  padding: 8px 24px 13px;
	}
	ul{
	  padding: 0;
	  margin: 0;
	  list-style-type: none;	
	}
	li > a {
	  display: block;
	  border-top: 1px solid rgba(255, 255, 255, 0.1);
	  padding: 15px 15px 13px;
	  font-weight: 400;
	  text-decoration: none;
	  color: @menuTxt;
	  text-indent: 10px;
	  &.eventIcon:before{
	  	content:"\e605";
	  }
	  &.tasksIcon:before{
	  	content:"\e604";
	  }
	  &.venuesIcon:before{
	  	content:"\e603";
	  }
	  &.notificationIcon:before{
	  	content:"\e603";
	  }
	  &.dashboardIcon:before{
	  	content:"\e602";
	  }
	  &.profileIcon:before{
	  	content:"\e606";
	  }
	  &.logoutIcon:before{
	  	content:"\e601";
	  }
	  &:before{
	  	color: @menuTxt;
	  	font-size: 16px;
	  }
	  &:hover{
	  	background-color: @menuHover;
	  }	
	}
}
