
body.appLayout .container.description{
  bottom: 0;
  padding: 0 0 5px 0;
  width: 100%;
}

body.appLayout .container.slider{
  background-color: #252525;
  width: 100%;
}

.description{
  color: white;
  position: absolute;
  bottom: 0;
}

.description h5, .description p{
  margin-left: 15px;
  margin-right: 15px;
}

.slider {
  width: 100%;
  min-height: 200px;
  position: relative;
  margin-bottom: 35%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
}

/*-- GALERY EVENTS --*/

.gallery {
  float: left;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.gallery ul{
  margin-bottom: 45px;
  width: 100%;
}

.gallery ul li{
  border-bottom: 0 !important;
  float: left;
  width: 33.33333333%
}

.gallery ul li img{
  display: block;
  margin: 1px 2px;
  width: 100%;
}

.gallery_fullscreen{
  background-color: #252525;
  height: 92%;
  padding-top: 2%;
  position: absolute;
  width: 100%;
  margin-top: 46px;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  overflow-y:scroll;
  overflow-x: hidden;
}

.gallery_fullscreen .description a.deactivate{
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
}

.gallery_fullscreen .description hr{
  border-color: white;
  margin-bottom: 5px;
}

.gallery_fullscreen .description h5{
  color:white;
}

.gallery_fullscreen img{
  max-height: 140%;
  width: 100%;
}

/*-- GALLERY FOR EXPENSES --*/

.gallery_fullscreen.expenses{
  text-align: center;
}

.gallery_fullscreen.expenses img{
  height: auto;
  margin-bottom: 50px;
  width: 300px;
}

