
/* Smartphones (landscape) ------------------------- */

@media only screen and (min-width : 481px) {

	/*-- FIXED STYLES ON PHOTOS GALLERY --*/

	body.appLayout .container{
		&.description{
			bottom: -10px;
			z-index: 300;
			position: absolute;
			padding: 0 0 5px 0;
			width: 100%;
		}
		&.slider{
			width:auto;
		}
	}

	.slider{
		position: absolute;
		left: 4%;
		width: auto;
		right: 4%;
		top: 11px;
		z-index: 100;
	}

	.gallery_fullscreen{
		height: 100%;
		padding-top:0;
		img {
			max-height: 370px;
			width: 100%;
		}
		&.expenses{
			img{
				max-height: none;
			}
		}
	}
	.slider{
		position: absolute;
		left: 4%;
		width: auto;
		right: 4%;
		top: 11px;
	}
	.slide{
		top: -60px;
	}

	/*-- FIXED STYLES ON SUBNAV --*/
	.subnav ul.scrollplane{
		width: 98%;
	}
}