
/* Smartphones (landscape) ------------------------- */

@media only screen and (min-width : 481px) {

	/*-- FIXED STYLES ON PHOTOS GALLERY --*/

	body.appLayout .container{
		&.slider{
			width: 81% !important;
		}
		&.description{
			bottom: -15px;
		}
	}
	.gallery_fullscreen{
		height: 100%;
		padding-top:0;
		img {
			max-height: 370px;
			width: 100%;
		}
		&.expenses{
			img{
				max-height: none;
			}
		}
	}
	.slider{
		min-height: none !important;
	}
	.slide{
		top: -60px;
	}

	/*-- FIXED STYLES ON SUBNAV --*/
	.subnav ul.scrollplane{
		width: 98%;
	}
}