
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	body.appLayout .container.slider {
		background-color: #252525;
		width: 81% !important;
	}
	.gallery_fullscreen img {
		width: 100%;
	}
	.slide{
		top: -60px;
	}
}