
/*-- COLOR PALETTE --*/

@bg: #ebeae6;
@brand: #989898;
@blue: #3e9ccf;
@borders: #d3d3d3;
@buttons: #de4d43;
@buttons-hover:#cc4137;
@gold: #cfc53e;
@menu: #4f4f4f;
@menuTxt: #ececec;
@menuHover: #3d3d3d;
@header:#363636; 
@listHover: #dfdfdf;
@lightGrey: #c0c0c0;
@lightTxt: #7a7a7a;
@overlay: #252525;
@txt: #666666;

/* Events Status Color Palette */

@approved:#90bf43;
@late:#de4d43;
/*-- due doesn't have color --*/
@rejected:#de4d43;

@submitted:#3e9ccf;

/*-- FONT STYLES --*/

@baseFontFamily:'Lato', sans-serif;

a{
	color: @txt;
	&:hover{
		color: @txt;
		text-decoration: none;
	}
	&.blue{
		color: @blue;
		font-weight: 400;
	}
	&.fullscreen{
		display: block;
		background-color: @brand;
		height: 35px;
		position: absolute;
		top: 90px;
		right: 7px;
		.border-bottom-radius(6px);
		.border-top-radius(6px);
		width: 35px;
		&:before{
			content: "\e614";
			color: white;
			left: 5px;
			line-height: 35px;
			font-size: 24px;
		}
	}
	&.underline{
		text-decoration: underline;
	}
}

p{
	margin-bottom: 0;
}

p.medium, label.medium{
	font-size: 12px;
}
p.small{
	font-size: 11px;
}
p.xs{
	font-size: 10px;
}

.np{
	padding: 0 !important;
}

p.second{
	color: @brand;
}

.blue{
	color: @blue;
	font-weight: 400;
}

.clearfix{
	clear: both;
}

.txtAdjust{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 0;
	padding-right: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: @baseFontFamily;
	margin: 0;
}

h4{
	font-size: 21px;
}

h5{
	color: @txt;
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;
}

h6{
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
}

/*-- ICON FONTS --*/

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.addIcon:before, 
.approved:before,
.backIcon:before,
.commentIcon:before,
.dashboardIcon:before,
.date-data:before, 
.deactivate:before,
.delete:before,
.edit:before, 
.eventIcon:before,
.female:before,
.fullscreen:before,
.logoutIcon:before,
.magnifierIcon:before,
.mail-data:before,
.male:before,
.menuIcon:before,
.nextIcon:before, 
.notificationIcon:before,
.no-campaigns:before,
.no-events:before,
.no-event-team:before,
.no-contacts:before,
.no-expenses:before,
.no-photo:before,
.no-venues:before,
.no-notifications:before,
.no-surveys:before,
.no-comments:before,
.no-surveys:before,
.no-tasks:before,
.no-campaigns:before,
.place-data:before,
.phone-data:before,
.profileIcon:before,
.saveicon:before,
.tasksIcon:before, 
.team:before,
.team_member:before,
.type-reset:before,
.time-data:before,
.user-data:before,
.venuesIcon:before{
  font-family: 'icons';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.addIcon:before{
	content:"\e615"
}
.approved:before{
	content:"\e618";
}
.backIcon:before{
	content:"\e60e";
}
.commentIcon:before{
	content:"\e600";
}
.dashboardIcon:before{
	content:"\e602";
}
.deactivate:before, .type-reset:before{
	content:"\e612";
}
.delete:before{
	content: "\e611";
}
.edit:before{
	content:"\e60c";
}
.eventIcon:before{
	content:"\e605";
}
.female:before{
	content: "\e01b";
	left: -9px;
}
.logoutIcon:before{
	content:"\e601";
}
.magnifierIcon:before{
	content:"\e60f";
}
.male:before{
	content: "\e01a";
	left: 0;
}
.menuIcon:before{
	content:"\e608";
}
.nextIcon:before{
	color: @lightGrey;
	content:"\e60d";
	font-size: 16px;
	top: 18px;
}
.notificationIcon:before{
	content:"\e607";
}
.profileIcon:before{
	content:"\e606";
}
.saveIcon{
	content:"\e609";
}
.tasksIcon:before{
	content:"\e604";
}
.team:before{
	content:"\e666";
}
.team_member:before{
	content:"\e606";
}
.team_member:before, .team:before{
	color:@lightGrey;
    display: block;
    font-size: 22px;
    width: 20px; 
    height: 20px;  
    position: absolute;
    left: 14px;
    top: 14px;
}
.venuesIcon:before{
	content:"\e603";
}

.user-data{
	&:before{
		content:"\e606";
		font-size: 17px;
		margin-left: -25px;
	}
}

.date-data{
	&:before{
		content:"\e60b";
		font-size: 17px;
		margin-left: -25px;
	}
	&.late{
		border: 0;
		&:after{
			color: @buttons;
			content:"LATE";
			font-size: 10px;
			margin-left: 8px;
		}
	}
}

.mail-data{
	&:before{
		content:"\e617";
		font-size: 19px;
		left: -25px;
	}
}

.phone-data{
	&:before{
		content:"\e616";
		font-size: 17px;
		left: -25px;
	}
}

.place-data{
	&:before{
		content:"\e610";
		font-size: 19px;
		left: -23px;
		top: 2px;
	}
}

.time-data{
	//margin: 15px 5px 15px 28px !important;
	&:before{
		content:"\e61a";
		float: left;
		font-size: 17px;
		left: -25px;
		top: 2px;
	}
	ul{
		display: inline-block;
		width: 100%;
		li{
			border-bottom: 0 !important;
			.day{
				float: left;
				width:40%;
			}
			.hour{
				float: right;
				width: 60%;
			}
		}
	}
}

.date-data, .place-data, .phone-data, .mail-data, .time-data, .user-data{
	line-height: 18px;
	margin: 15px 36px;
	min-height: 15px;
	position: relative;
	&:before{
		color: @lightGrey;
		position: absolute;
		speak: none;
		text-align: center;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
	}
}


/*-- CROSSBROWSER CORRECTIONS --*/

::-webkit-scrollbar { 
	display: none; 
}

