
/*-- COLOR PALETTE --*/

@bg: #ebeae6;
@brand: #989898;
@blue: #3e9ccf;
@borders: #d3d3d3;
@buttons: #de4d43;
@buttons-hover:#cc4137;
@menu: #4f4f4f;
@menuTxt: #ececec;
@menuHover: #3d3d3d;
@header:#363636; 
@listHover: #dfdfdf;
@lightGrey: #c0c0c0;
@lightTxt: #7a7a7a;
@txt: #666666;

/* Events Status Color Palette */

@approved:#90bf43;
@late:#de4d43;
/*-- due doesn't have color --*/
@rejected:#de4d43;

@submitted:#3e9ccf;

/*-- FONT STYLES --*/

@baseFontFamily:'Lato', sans-serif;

a{
	color: @txt;
	&:hover{
		color: @txt;
		text-decoration: none;
	}
	&.blue{
		color: @blue;
		font-weight: 400;
	}
	&.underline{
		text-decoration: underline;
	}
}

p{
	margin-bottom: 0;
}

p.medium{
	font-size: 12px;
}
p.small{
	font-size: 11px;
}
p.xs{
	font-size: 10px;
}

.txtAdjust{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 0;
	padding-right: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: @baseFontFamily;
	margin: 0;
}

h5{
	color: @txt;
	font-size: 17px;
	font-weight: 400;
	line-height: 19px;
}

h6{
	font-size: 14px;
}

/*-- ICON FONTS --*/

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.addIcon:before, 
.backIcon:before,
.dashboardIcon:before,
.date-data:before, 
.deactivate:before,
.edit:before, 
.eventIcon:before,
.logoutIcon:before,
.magnifierIcon:before,
.mail-data:before,
.menuIcon:before,
.nextIcon:before, 
.notificationIcon:before,
.place-data:before,
.phone-data:before,
.profileIcon:before,
.saveicon:before,
.tasksIcon:before, 
.team:before,
.teaMember:before,
.venuesIcon:before{
  font-family: 'icons';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.addIcon:before{
	content:"\e615"
}
.backIcon:before{
	content:"\e60e";
}
.dashboardIcon:before{
	content:"\e602";
}
.deactivate:before{
	content:"\e612";
}
.edit:before{
	content:"\e60c";
}
.eventIcon:before{
	content:"\e605";
}
.logoutIcon:before{
	content:"\e601";
}
.magnifierIcon:before{
	content:"\e60f";
}
.menuIcon:before{
	content:"\e608";
}
.nextIcon:before{
	color: @lightGrey;
	content:"\e60d";
	font-size: 16px;
}
.notificationIcon:before{
	content:"\e607";
}
.profileIcon:before{
	content:"\e606";
}
.saveIcon{
	content:"\e609";
}
.tasksIcon:before{
	content:"\e604";
}
.team:before{
	content:"\e611";
}
.teaMember:before{
	content:"\e606";
}
.teaMember:before, .team:before{
	color:@lightGrey;
    display: block;
    font-size: 22px;
    width: 20px; 
    height: 20px;  
    position: absolute;
    left: -49px;
}
.venuesIcon:before{
	content:"\e603";
}

.date-data{
	&:before{
		content:"\e60b";
		font-size: 17px;
		margin-left: -28px;
	}
}

.mail-data{
	&:before{
		content:"\e617";
		font-size: 19px;
		margin-left: -25px;
	}
}

.phone-data{
	&:before{
		content:"\e616";
		font-size: 17px;
		margin-left: -25px;
	}
}

.place-data{
	&:before{
		content:"\e610";
		font-size: 17px;
		margin-left: -25px;
	}
}

.date-data, .place-data, .phone-data, .mail-data{
	line-height: 18px;
	margin: 15px 28px;
	&:before{
		color: @lightGrey;
		position: relative;
		speak: none;
		text-align: center;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		margin-right: 6px;
	}
}


/*-- CROSSBROWSER CORRECTIONS --*/

::-webkit-scrollbar { 
	display: none; 
}

