  <div class="navHeader" ng-controller="navbarCtrl" ng-class="{gallery: UserInterface.hasCustomHomeClass}">
    <div class="left">
      <button snap-toggle class="noButton menuIcon pull-left" ng-show="UserInterface.hasMenuIcon"></button>
      <button class="noButton pull-left" ng-class="{delete: UserInterface.hasDeleteIcon, backIcon: UserInterface.hasBackIcon}" ng-show="UserInterface.hasDeleteIcon"></button>
    </div>
    <div class="center">
      <h1 class="txtAdjust">{{UserInterface.title}}</h1>
    </div>
    <div class="right">
      <span ng-show="showSearchField" class="events_search">
        <div class="typeahead">
            <scopic-typeahead 
                data-type="scopic.consts.typeahead_types.EVENTS"
                data-is-custom="scopic.consts.booleans.TRUE">
            </scopic-typeahead>
        </div>
        <div class="button">
          <button class="btn btn-grey pull-right" ng-click="showSearchEvent(false)" style="margin-left:5px;">Cancel</button>
        </div>
      </span>
      <span ng-hide="showSearchField">
          <button class="noButton magnifierIcon out pull-right"
                ng-click="showSearchEvent(true)"
                ng-show="UserInterface.hasMagnifierIcon"
                ng-swipe-left="UserInterface.searching=true">
          </button>

          <button class="noButton addIcon pull-right" ng-show="UserInterface.hasAddIcon" redirect-to-state="{{UserInterface.AddIconState}}" ng-animate=" ' animate' "></button>

      </span>

      <div class="noButton addIcon pull-right fileUpload hidden">
        <input type="file" class="upload" accept="image/*"/>
      </div>

<!-- disabled="{{ isEventCompleted }}" -->
      <button class="btn btn-danger" ng-show="UserInterface.hasSaveIcon" ng-click="CreateEventView()">Save</button>


      <button class="btn btn-grey" ng-show="UserInterface.hasEditIcon" redirect-to="{{UserInterface.EditIconUrl}}">Edit</button>
      <button class="btn btn-grey" ng-show="UserInterface.hasCancelIcon">Cancel</button>
      <button class="noButton delete" ng-show="UserInterface.hasCloseIcon" redirect-to-state="{{UserInterface.CloseState}}"></button>
      <button class="btn btn-danger hidden">Post</button>
    </div>
  </div>
